@model IEnumerable<BizApp.Areas.Admin.Models.CategoryViewModel>
@{
	ViewData["Title"] = "ShowSubCateogries";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
	<h1 style="float:right" dir="rtl">
		@ViewBag.ParentCategoryName  مدیریت زیردسته
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> خانه</a></li>
		<li class="active">دسته ها</li>
	</ol>
</section>
<div style="margin-top: 50px;margin-bottom:3px">
	<button type="button" class="btn btn-warning" onclick="window.history.back();" >بازگشت به سطح قبل</button>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover text-center">
					<tr>
						<th>
							ردیف
						</th>
						<th>
							نام
						</th>
						<th>
							تعدادزیردسته
						</th>
						<th>
							عملیات
						</th>
					</tr>
					@{ int rowNo = 0; }
					@foreach (var item in Model)
					{
				<tr>
					<td>
						@(++rowNo)
					</td>
					<td>
						@item.Name
					</td>
					<td>
						@item.ChildCount عدد
					</td>
					<td>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.CategoryId">حذف</button> |
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.CategoryId"> ویرایش</button>

						@if (item.HasChild)
						{
							<a href="/admin/Categories/ShowSubCateogries?Id=@item.CategoryId" class="btn btn-flickr">مشاهده زیر دسته</a>
						}
						<button type="button" class="btn btn-bitbucket" data-toggle="modal" data-target="#SubcategoryModal" onclick="SubCategoryAssignButtonClicked(this)" data-assigned-id="@item.CategoryId"> ایجاد زیردسته</button>
						@if (!item.ParentCategoryId.HasValue)
						{
							<button type="button" class="btn btn-adn" id="@item.CategoryId">ثبت خصوصیات</button>
						}
					</td>
				</tr>
					}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="height:auto;overflow-y:visible">
	<div class="modal-dialog modal-sm" style="width:400px">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">ویرایش دسته بندی</h4>
			</div>
			<div class="modal-body" style="height:auto">
				<form id="register">
					<input id="CategoryId" name="CategoryId" hidden />
					<input id="ParentCategoryId" name="ParentCategoryId" value="@ViewBag.ParentCategoryId" hidden />

					<div class="form-group" style="margin-right:5px">
						<label for="Name"> نام :</label>
						<input display="نام" id="Name" name="Name" placeholder="نام دسته بندی را وارد کنید" class="form-control" style="width:70%" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
				<button type="button" class="btn btn-success" onclick="Save();">ثبت</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="SubcategoryModal" role="dialog" style="height:auto;overflow-y:visible">
	<div class="modal-dialog modal-sm" style="width:400px">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">ثبت زیر دسته</h4>
			</div>
			<div class="modal-body" style="height:auto">
				<form id="SubCategoryregister">
					<input id="ParentCategoryId" name="ParentCategoryId" hidden />
					<div class="form-group" style="margin-right:5px">
						<label for="SubcategoryName"> نام :</label>
						<input display="نام" id="SubcategoryName" name="SubcategoryName" placeholder="نام زیر دسته بندی را وارد کنید" class="form-control" style="width:70%" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
				<button type="button" class="btn btn-success" onclick="SubCategorySave();">ثبت</button>
			</div>
		</div>
	</div>
</div>

<div id="Error"></div>
<div id="Success"></div>
<div id="Question"></div>
<script>
    window.onload = Load;
    function Load() {
        CreateAllModals();
        $(".openmodal").click(function () {
            clear('register', ["input"]);
        });
        $(".btn-warning").click(function () {
            EditAjax("/admin/Categories/GetById", this.id);
            var bodyStyle = document.body.style;
            bodyStyle.removeProperty('padding-right');
        });
    }
    function Save() {
        if (checkvalidity('register') === 0) {
            return;
        }
		else {

            $("#myModal").modal('toggle');
            var Parameters = [{ id: "Name", htmlname: "Name", special: "" } , { id: "ParentCategoryId", htmlname: "ParentCategoryId", special: "" }, { id: "CategoryId", htmlname: "CategoryId", special: "" }];
            PostAjax('/admin/Categories/CreateOrUpdate', Parameters, "/admin/Categories/ShowSubCateogries?Id="+@ViewBag.ParentCategoryId+"");
        }
    }
    function AssignButtonClicked(elem) {
        $('#CategoryId').val($(elem).data('assigned-id'));
	}
	function SubCategoryAssignButtonClicked(elem) {
        $('#ParentCategoryId').val($(elem).data('assigned-id'));
	}
    function Remove() {
        var Parameters = [{ id: "CategoryId", htmlname: "CategoryId", special: "" }];
        PostAjax('/admin/Categories/Remove', Parameters, "/admin/Categories/ShowSubCateogries?Id="+@ViewBag.ParentCategoryId+"");
	}
    function SubCategorySave() {
		if (checkvalidity('SubCategoryregister') === 0) {
			return;
		}
		else {
      var Parameters = [{ id: "Name", htmlname: "SubcategoryName", special: "" }, { id: "ParentCategoryId", htmlname: "ParentCategoryId", special: "" }];
        PostAjax('/admin/Categories/CreateOrUpdate', Parameters,  "/admin/Categories/ShowSubCateogries?Id="+@ViewBag.ParentCategoryId+"");
		}
	}
</script>
