@model BizApp.Areas.Profile.Models.Account.EditAcountViewModel
@using DomainClass.Enums
@using BizApp.Utility

@{ 
	ViewData["Title"] = "ویرایش پروفایل";
	Layout = "~/Areas/Profile/Views/Shared/_AccountSettingLayout.cshtml"; 
}

@section head {
	<link href="~/css/autocomplete.css" rel="stylesheet" />
}

<partial name="~/Areas/Profile/Views/Shared/_ShowMessagePartial.cshtml" />

<div class="edit__item__title">
	<h2>پروفایل</h2>
</div>
<div class="edit__item__pro-edit">
	<div class="edit__item__pro-edit__title">
		<h4>
			عکس پروفایل شما <a asp-area="profile" asp-controller="userphoto" asp-action="index">
				(افزودن / ویرایش)
			</a>
		</h4>

	</div>
	<div class="edit__item__pro-edit__image">
		@if (string.IsNullOrEmpty(Model.MainPhoto))
		{
			<a asp-area="profile" asp-controller="userphoto" asp-action="upload">
				<img src="~/Upload/DefaultPicutres/User/66-660853_png-file-svg-business-person-icon-png-clipart.jpg" alt="">
			</a>
		}
		else
		{
			<a asp-area="profile" asp-controller="userphoto" asp-action="index">
				<img src="@Model.MainPhoto" alt="" width="70">
			</a>
		}
	</div>
	<div class="edit__item__pro-edit__form">
		<form asp-area="profile"
			  asp-controller="account"
			  asp-action="update"
			  asp-route-returnurl="/profile/account/edit/"
			  method="post"
			  class="form-horizontal">
			<div class="form-group">
				<label>نام و نام خانوادگی</label>
				<p>این قسمت الزامی است</p>
				<input asp-for="FullName" type="text" class="form-control" aria-describedby="" placeholder="">
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<input asp-for="Id" type="hidden" />
			<div class="form-group">
				<label>جنسیت</label>

				<div class="form-check">
					<input asp-for="Gender" class="form-check-input" value="1" type="radio" checked="@(Model.Gender == GenderEnum.Male)">
					<label class="form-check-label" for="exampleRadios1">
						مرد
					</label>
				</div>
				<div class="form-check">
					<input asp-for="Gender" class="form-check-input" type="radio" checked="@(Model.Gender == GenderEnum.Female)" value="0">
					<label class="form-check-label" for="exampleRadios2">
						زن
					</label>
				</div>
				<span asp-validation-for="Gender" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label>کد ملی</label>
				<input asp-for="NationalCode" type="text" class="form-control" aria-describedby="" placeholder="">
				<span asp-validation-for="NationalCode" class="text-danger"></span>
			</div>
			
			<div class="sign-up__item__lable">
				<p>تاریخ تولد</p>
			</div>
			<div class="sign-up__item__birthday">
				<div class="row" data-space="10">
					<div class="col-4">
						<input asp-for="MainPhoto" type="hidden" />
						<select class="form-control" asp-for="Day">
							<option value="0">روز</option>
							@for (int i = 0; i < 31; i++)
							{
				<option selected="@((i + 1) == Model.Day)" value="@(i + 1)">@(i + 1)</option>}
						</select>
					</div>
					<div class="col-4">
						<select class="form-control" asp-for="Month">
							<option value="0">ماه</option>
							@for (int i = 0; i < 12; i++)
							{
				<option selected="@((i + 1) == Model.Month)" value="@(i + 1)">@(i + 1)</option>}
						</select>
					</div>
					<div class="col-4">
						<select class="form-control" asp-for="Year">
							<option value="0">سال</option>
							@{ 
								var currentDate = DateTime.Now.ToPersianDateString();
								var currentYear = Convert.ToInt32(currentDate.Substring(0, 4)) - 5;

								for (int i = currentYear; i > currentYear - 140; i--)
								{
									<option selected="@((i + 1) == Model.Year)" value="@i">@i</option>
								} 
							}
						</select>
					</div>
				</div>
			</div>

			<div style="position: relative; height: 80px;">
				<input type="text" placeholder="حداقل 3 کاراکتر تایپ کنید" value="@Model.CityName" id="city-autocomplete" class="form-control" />
				<div id="selectedCity">شهر: @(string.IsNullOrEmpty(Model.CityName) ? "هیچ" : Model.CityName)</div>
				<input asp-for="CityId" type="hidden" id="Input_CityId"/>
			</div>

			<div class="form-group">
				<label>کد پستی</label>
				<input asp-for="PostalCode" type="text" class="form-control" aria-describedby="" placeholder="">
			</div>

			<div class="form-group">
				<label>نشانی</label>
				<textarea asp-for="Address" class="form-control" placeholder="نشانی شما"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
			<a href="/profile/overview">انصراف</a>
		</form>
	</div>

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script src="~/lib/autocomplete/jquery.autocomplete.js"></script>
	<script src="~/Scripts/cityautocomplete.js"></script>

	<script type="text/javascript">
		setInputResultName('CityId');
	</script>
}
