@using BizApp.Utility
@using Microsoft.AspNetCore.Identity
@using BizApp.Extensions
@using BizApp.Models.Basic

@inject DataLayer.Infrastructure.ICateogryRepo CateogryService
@{
	var CategoryItems = await CateogryService.GetAllInSearchPage();

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="top">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Luan Gjokaj, and GoPablo contributors">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15" />
	<title>BizzAp | @ViewData["Title"]</title>
	<meta name="description" content="GoPablo is a static site generator with a modern development workflow, integrated web server, auto-reload, CSS preprocessors, and ES6 ready." />
	<link rel="manifest" href="./manifest.json" />
	<link rel="shortcut icon" href="~/Designs/MainWebSite/assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="512x512" href="~/Designs/MainWebSite/assets/img/icon-512.png" />
	<link rel="apple-touch-icon" sizes="192x192" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<link rel="apple-touch-icon-precomposed" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<link rel="icon" sizes="192x192" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<meta property="og:site_name" content="GoPablo" />
	<meta property="og:title" content="GoPablo" />
	<meta property="og:image" content="" />

	<meta property="og:url" content="https://www.gopablo.co" />
	<meta property="article:author" content="http://facebook.com/luangjokaj" />
	<!-- Main Style -->
	<link href="~/Designs/MainWebSite/assets/css/styles.css" async defer rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


	<script src="~/Designs/MainWebSite/assets/js/header-bundle.js"></script>
	<link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		  crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>
	@RenderSection("Head", required: false)
</head>
<body class="header-fix">
	<header class="header-type1">
		<div class="header-type1__menu">
			<div class="header-type1__menu__logo">
				<a href="#"><img src="~/Designs/MainWebSite/Logo/bizzaplogomini.jpeg"></a>
			</div>
			<div class="header-type1__menu__search">
				<div class="header-type1__menu__search__right ">
					<input type="text" name="" placeholder="کاریوریست ، بوفه صبحانه ، ایتالیایی">
					<div class="header-type1__menu__search__right__menu-bottom">
						<ul>
							<li>
								<a href="#">
									<svg id="18x18_food" height="18" viewBox="0 0 18 18" width="18">
										<path d="M13.188 17a1.56 1.56 0 0 1-1.55-1.55V9.62h1.426c-1.255-.96-1.993-2.805-1.92-4.724 0-1.18.517-2.362 1.477-3.543a.912.912 0 0 1 1.038-.295c.37.147.59.516.59.885V9.62h.494v5.83c0 .886-.664 1.55-1.55 1.55zM5.993 8.438v1.108h.996v5.83c0 .83-.59 1.46-1.396 1.535a.5.5 0 0 1-.122.02l-.016-.002-.02.002c-.888 0-1.55-.665-1.55-1.55V9.55h.994V8.44C4 8.217 3.263 7.33 3.263 6.224v-4.28c0-.296.295-.59.59-.59s.517.294.517.59V5.56h.59V1.943c0-.295.22-.59.513-.59.295 0 .517.295.517.59V5.56h.59V1.943c0-.295.22-.59.518-.59.294 0 .515.295.515.59v4.355c0 1.033-.664 1.92-1.623 2.14z"></path>
									</svg>رستوران ها
								</a>
							</li>
							<li>
								<a href="#">
									<svg id="18x18_home_services" height="18" viewBox="0 0 18 18" width="18">
										<path d="M16.7 16H13v-4.7a.3.3 0 0 0-.3-.3h-2.4a.3.3 0 0 0-.3.3V16H2.3a.3.3 0 0 1-.3-.3V9.25l6-2.182V3.735a.3.3 0 0 1 .434-.268l8.4 4.2a.3.3 0 0 1 .166.268V15.7a.3.3 0 0 1-.3.3zM8 11.3a.3.3 0 0 0-.3-.3H4.3a.3.3 0 0 0-.3.3v2.4a.3.3 0 0 0 .3.3h3.4a.3.3 0 0 0 .3-.3v-2.4zm4-9a.3.3 0 0 1 .3-.3h3.4a.3.3 0 0 1 .3.3v3.005L12 3.5V2.3zM1 7.17l6-2.354V6.37L1 8.72V7.17z"></path>
									</svg>ندگی شبانه
								</a>
							</li>
							<li>
								<a href="#">
									<svg id="24x24_plumbers" height="24" viewBox="0 0 24 24" width="24">
										<path d="M13 16.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-5.17c0-.2.12-.38.303-.46l6-2.57a.5.5 0 0 1 .697.458v.838l6.964-2.834a1 1 0 0 1 1.302.552l.765 1.893L13 12.84v3.66zm0-9.83a.5.5 0 0 1-.303.46l-6 2.57A.5.5 0 0 1 6 9.243V5.5a.5.5 0 0 1 .5-.5h6.456l3.978-1.607.374.927L13 6.06v.61zM17 19v2H2v-2a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1zm5.03-5.5a1.5 1.5 0 0 1-3 0c0-.828 1.5-2.5 1.5-2.5s1.5 1.672 1.5 2.5z"></path>
									</svg>خدمات
								</a>
							</li>
							<li>
								<a href="#">
									<svg id="18x18_delivery" height="18" viewBox="0 0 18 18" width="18">
										<path d="M15.5 10c-1.93 0-3.5 1.57-3.5 3.5v.5H5.95a2.504 2.504 0 0 1-2.45 2 2.502 2.502 0 0 1-2.45-2H0v-2a5 5 0 0 1 5-5h3v2H7a1.5 1.5 0 0 0 0 3h2l2-4V5h1.94l-1-2H9V2h3.56l3.52 7.04c.653.085 1.28.308 1.838.665l-.537.842A3.502 3.502 0 0 0 15.5 10zM2.092 14c.207.58.757 1 1.408 1 .65 0 1.2-.42 1.408-1H2.092zM15.5 11c1.38 0 2.5 1.122 2.5 2.5S16.88 16 15.5 16 13 14.878 13 13.5s1.12-2.5 2.5-2.5zm0 4c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5-1.5.673-1.5 1.5.673 1.5 1.5 1.5z"></path>
									</svg>تحویل
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="header-type1__menu__search__left">
					<input type="" name="" placeholder="اصفهان">
					<div class="header-type1__menu__search__left__menu-bottom">
						<ul>
							<li><a href="#"><svg id="24x24_marker" height="24" viewBox="0 0 24 24" width="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 2.61 1.43 4.88 3.54 6.08L12 22l3.46-6.92A6.987 6.987 0 0 0 19 9c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path></svg>لوکیشین</a></li>
							<li><a href="#"><svg id="24x24_marker" height="24" viewBox="0 0 24 24" width="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 2.61 1.43 4.88 3.54 6.08L12 22l3.46-6.92A6.987 6.987 0 0 0 19 9c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path></svg>لوکیشین</a></li>

						</ul>
					</div>
				</div>
				<div class="header-type1__menu__search__button">
					<button class="submit" title="search">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="icon_svg">
							<path d="M21.853 20.355l-3.444-3.443a9.428 9.428 0 10-16.761-6.171 9.428 9.428 0 0015.348 7.586l3.443 3.442a1 1 0 101.414-1.414zM5.82 16.245a7.429 7.429 0 115.253 2.175 7.38 7.38 0 01-5.253-2.176z"></path>
						</svg>
					</button>
				</div>
			</div>
			@if (!User.Identity.IsAuthenticated)
			{
				<div class="header-type1__menu__nav">
					<ul>
						<li><a href="/Review/GuessReivew">نظر ثبت کنید</a></li>
						<li><a href="#">برای کسب و کارها</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Login">ورود</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Register">ثبت نام</a></li>
					</ul>
				</div>
			}
			else
			{
				<div class="header-type1__menu__nav">
					<ul>
						<li><a href="/Review/GuessReivew">یک مقاله بنویس</a></li>
						<li><a href="#">برای کسب و کارها</a></li>
					</ul>
				</div>

				<div class="header-type1__menu__user-nav">
					<ul>
						<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M7.39 11.75a1.25 1.25 0 110-2.5 1.25 1.25 0 010 2.5zm4.61 0a1.25 1.25 0 110-2.5 1.25 1.25 0 010 2.5zm4.61 0a1.25 1.25 0 110-2.5 1.25 1.25 0 010 2.5zM7 22.53a.94.94 0 01-.43-.1 1 1 0 01-.57-.9v-3a8.19 8.19 0 01-5-7.4v-.9A8.26 8.26 0 019.26 2h5.48A8.26 8.26 0 0123 10.26v.48A8.26 8.26 0 0114.74 19h-3l-4.12 3.31a1 1 0 01-.62.22zM9.26 4A6.27 6.27 0 003 10.26v.9A6.29 6.29 0 007.34 17a1 1 0 01.66.94v1.56l2.79-2.23a1 1 0 01.62-.22h3.33A6.27 6.27 0 0021 10.74v-.48A6.27 6.27 0 0014.74 4H9.26z"></path></svg></a></li>
						<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M22.64 17.23A7.31 7.31 0 0120 11.59V9A8 8 0 004 9v2.59a7.31 7.31 0 01-2.64 5.64A1 1 0 002 19h6a4 4 0 008 0h6a1 1 0 00.64-1.77zM6 9a6 6 0 0112 0v2.59c.001.472.038.943.11 1.41H5.89A9.36 9.36 0 006 11.59V9zm6 12a2 2 0 01-2-2h4a2 2 0 01-2 2zm-7.72-4a9.42 9.42 0 001.08-2h13.28a9.42 9.42 0 001.08 2H4.28z"></path></svg></a></li>

						<partial name="~/Views/Shared/Partials/UserMenuPartial.cshtml" />
					</ul>
				</div>
			}
		</div>
		<div class="header-type1__menu-bottom">
			<ul>
				@*@foreach (var item in MainPage_Categories)
					{
						<li>
							<a href="~/Search/AllBussiness?CategoryId=@item.Id&page=1">

								<svg id="iconResult" class="svg-inline--fa fa-accusoft fa-w-20" aria-hidden="true" data-prefix="fab" data-icon="accusoft" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="@item.Image"></path></svg>
								@item.Name <svg id="14x14_triangle_down" height="17" viewBox="0 0 14 14" width="14">
									<path d="M7 9L3.5 5h7L7 9z"></path>
								</svg>

							</a>
							@if (item.CategoryChilds.Count > 0)
							{
								<ul>

									@foreach (var item2 in item.CategoryChilds.Take(15))
									{

										<li><a href="~/Search/AllBussiness?CategoryId=@item2.Key&page=1">@item2.Value</a></li>
									}

								</ul>
							}
						</li>
					}*@
				@{var j = 0; }
				@foreach (var item in CategoryItems.Where(x => x.ParentCategoryId == null))
				{
					if (j <= 5)
					{
						<li>
							<a href="~/Search/AllBussiness?CategoryId=@item.Id&page=1">
								<svg id="iconResult" class="svg-inline--fa fa-accusoft fa-w-20" aria-hidden="true" data-prefix="fab" data-icon="accusoft" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="@item.svgIcon"></path></svg>
								@item.Name <svg id="14x14_triangle_down" height="17" viewBox="0 0 14 14" width="14">
									<path d="M7 9L3.5 5h7L7 9z"></path>
								</svg>
							</a>
							<ul>
								@foreach (var item2 in CategoryItems.Where(x => x.ParentCategoryId == item.Id).Take(15))
								{

									<li>
										<a href="~/Search/AllBussiness?CategoryId=@item2.Id&page=1">
											<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" version="1.1">
												<path d="@item2.svgIcon" width="5" height="5" style="transform: scale(0.07);"></path>
											</svg>@item2.Name

										</a>
									</li>
								}

							</ul>

						</li>
						j++;
					}
				}

			</ul>
		</div>
	</header>
	<main>
		<header class="header-mobile3">
			<div class="header-mobile3__menu-mobail">
				<div class="header-mobile3__menu-mobail__top">
					<div class="header-mobile3__menu-mobail__top__icon">
						<svg width="24" height="24" class="icon_svg"><path d="M3 18v-2h18v2H3zm0-7h18v2H3v-2zm0-5h18v2H3V6z"></path></svg>
						<svg width="24" height="24" class="icon_svg"><path d="M17.657 19.071L12 13.414l-5.657 5.657-1.414-1.414L10.586 12 4.929 6.343l1.414-1.414L12 10.586l5.657-5.657 1.414 1.414L13.414 12l5.657 5.657-1.414 1.414z"></path></svg>
					</div>
					<div class="header-mobile3__menu-mobail__top__logo">
						<img src="./assets/img/logo.png">
					</div>
					<div class="header-mobile3__menu-mobail__top__open-app">
						<a href="#">
							<svg width="18" height="18" class="icon_svg">
								<path d="M13 17H5a1 1 0 01-1-1V2a1 1 0 011-1h8a1 1 0 011 1v14a1 1 0 01-1 1zm0-13.537A.463.463 0 0012.537 3H5.463A.463.463 0 005 3.463v11.074c0 .256.207.463.463.463h7.074a.463.463 0 00.463-.463V3.463zM9 14.499a1.15 1.15 0 11-.001-2.299A1.15 1.15 0 019 14.499z"></path>
							</svg>در برنامه باز کنید
						</a>
					</div>
				</div>
				<div class="header-mobile3__menu-mobail__bottom">
					<div class="header-mobile3__menu-mobail__bottom__search">
						<label for=""><svg id="18x18_search_small" height="18" viewBox="0 0 18 18" width="18"><path d="M15.913 14.224a1.324 1.324 0 0 0-.3-.466h.01l-3.378-3.376a5.49 5.49 0 0 0 .802-2.857 5.523 5.523 0 1 0-5.522 5.52 5.49 5.49 0 0 0 2.856-.8l3.37 3.368.006.003a1.364 1.364 0 0 0 .93.384C15.41 16 16 15.41 16 14.684c0-.163-.032-.317-.086-.46zM7.525 10.94a3.422 3.422 0 0 1-3.418-3.416 3.422 3.422 0 0 1 3.418-3.417 3.422 3.422 0 0 1 3.416 3.417 3.42 3.42 0 0 1-3.413 3.416z"></path></svg></label>
						<input type="text" placeholder="کاریوریست ، بوفه صبحانه ، ایتالیایی">
					</div>
				</div>
			</div>
			<div class="header-mobile3__menu">
				<ul>
					<li class="active"><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M19.043 15.504l-3.339-1.085 3.375-.967a1.895 1.895 0 001.214-2.576 8.627 8.627 0 00-2.226-3.061 1.892 1.892 0 00-2.819.363l-1.965 2.912.001-.06V2.893a1.893 1.893 0 00-2.038-1.887 13.511 13.511 0 00-4.739 1.27 1.894 1.894 0 00-.822 2.653l4.068 7.047.031.052-3.157-1.54a1.89 1.89 0 00-2.623 1.095 8.62 8.62 0 00-.396 3.764 1.893 1.893 0 002.338 1.623l3.407-.849-2.349 2.609a1.893 1.893 0 00.334 2.826 8.823 8.823 0 003.503 1.418 1.886 1.886 0 002.206-1.801l.123-3.51 1.861 2.979c.348.557.948.889 1.606.889.438 0 .866-.154 1.205-.433a8.818 8.818 0 002.324-2.979 1.89 1.89 0 00-1.123-2.615zm-5.388-3.177l2.422-3.59a.893.893 0 011.329-.172 7.676 7.676 0 011.969 2.709.894.894 0 01-.572 1.216l-4.162 1.194a.923.923 0 01-.255.036c-.675 0-1.146-.778-.731-1.393zM6.551 4.429a.893.893 0 01.387-1.251A12.475 12.475 0 0111.395 2c.487 0 .889.397.889.893v8.137c0 .556-.448.893-.902.893a.867.867 0 01-.763-.447L6.551 4.429zM5.704 16a.895.895 0 01-1.103-.767 7.681 7.681 0 01.351-3.331.89.89 0 011.237-.515l3.892 1.898c.749.365.633 1.466-.175 1.668L5.704 16zm6.344 5.138a.894.894 0 01-1.041.849 7.758 7.758 0 01-3.103-1.255.893.893 0 01-.157-1.333l2.897-3.218a.891.891 0 011.555.628l-.151 4.329zm1.244-6.747v-.028c.006.004.01.01.016.015-.005.004-.01.01-.016.013zm5.972 3.297a7.762 7.762 0 01-2.059 2.639.891.891 0 01-1.326-.215l-2.296-3.674c-.387-.62.09-1.367.749-1.367.091 0 .187.014.284.046l4.118 1.338a.893.893 0 01.53 1.233z"></path></svg>ثبت نام</a></li>
					<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-19c-4.963 0-9 4.037-9 9 0 3.057 1.535 5.759 3.872 7.387.499-2.77 2.594-4.415 5.128-4.415 2.534 0 4.63 1.645 5.128 4.415C19.465 17.759 21 15.057 21 12c0-4.963-4.037-9-9-9zm0 10.007a3.273 3.273 0 11-.001-6.547A3.273 3.273 0 0112 13.007z"></path></svg>ورود</a></li>
					<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-19c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9zm-1.034 10.084l-3.96-.364 8.888-4.564-4.564 8.888-.364-3.96z"></path></svg>نزدیک ها</a></li>
					<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M12 17l-7 5V5a3 3 0 013-3h8a3 3 0 013 3v17l-7-5zm6-12c0-1.103-.897-2-2-2H8c-1.103 0-2 .897-2 2v15.057l5.419-3.871.581-.415.581.415L18 20.057V5zm-6.027 6.093L9.837 12.5l.413-2.42L8.5 8.367l2.42-.353L11.973 5.5l1.107 2.514 2.42.353-1.75 1.713.433 2.37-2.21-1.357z"></path></svg>ذخیره شده ها</a></li>
					<li><a href="#"><svg width="24" height="24" class="icon_svg"><path d="M22 22v2h-1v-2h-2v-1h2v-2h1v2h2v1h-2zM0 5a2 2 0 012-2h6a2 2 0 012 2v12h2V9a2 2 0 012-2h2a2 2 0 012 2v12H0V5zm1 15h16V9c0-.551-.449-1-1-1h-2c-.551 0-1 .449-1 1v9H9V5c0-.551-.449-1-1-1H2c-.551 0-1 .449-1 1v15zM4 8H2V6h2v2zm0 4H2v-2h2v2zm0 4H2v-2h2v2zm4-8H6V6h2v2zm0 4H6v-2h2v2zm0 4H6v-2h2v2zm8-4h-2v-2h2v2zm0 4h-2v-2h2v2z"></path></svg>ارتبار با یلپ</a></li>
				</ul>
				<div class="header-mobile3__menu__links">
					<ul>
						<li><a href="#">تبلیغات</a></li>
						<li><a href="#">درباره ما</a></li>
					</ul>
				</div>
			</div>
		</header>
	</main>
	@RenderBody()
	<footer class="footer-type1">
		<div class="container">
			<div class="footer-type1__ln">
				<div class="row">
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>

					<div class="col-lg-3  col-sm-3">
						<div class="footer-type1__ln__item">
							<div class="footer-type1__ln__item__language">
								<h2>زبان ها</h2>
							</div>
							<select class="selectpicker" data-size="12">
								<option>فارسی</option>
								<option>انگلیسی</option>
								<option>آلمانی</option>
								<option>ایتالیایی</option>

							</select>


						</div>
						<div class="footer-type1__ln__item">
							<div class="footer-type1__ln__item__Countries">
								<h2>کشور ها</h2>
							</div>
							<select class="selectpicker" data-size="12">
								<option>ایران </option>
								<option>ایران </option>
								<option>ایران </option>
								<option>ایران </option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-type1__image">
				<img src="~/Designs/MainWebSite/assets/img/footer.png">
			</div>
			<div class="footer-type1__copyright">
				<span>حق چاپ © 2004–2020</span>
				<img src="~/Designs/MainWebSite/assets/img/logo.png">
				<span>,</span>
				<img src="~/Designs/MainWebSite/assets/img/logoo.png">
				<span>و علائم مربوط به آن علائم تجاری ثبت شده یلپ هستند.</span>
			</div>
		</div>
	</footer>
	<footer class="footer-mobile2">
		<div class="container">
			<div class="row">
				<div class="footer-mobile2__language">
					<div class="footer-mobile2__language__title">
						<p>زبان ها</p>
					</div>
					<div class="footer-mobile2__language__select">
						<select class="selectpicker" data-size="12">
							<option>فارسی</option>
							<option>فارسی</option>
							<option>فارسی</option>
							<option>فارسی</option>

						</select>
					</div>
				</div>
				<div class="footer-mobile2__country">
					<div class="footer-mobile2__country__title">
						<p>کشور ها</p>
					</div>
					<div class="footer-mobile2__country__select">
						<select class="selectpicker" data-size="12">
							<option>ایران </option>
							<option>ایران </option>
							<option>ایران </option>
							<option>ایران </option>
						</select>
					</div>
				</div>
			</div>
			<div class="footer-mobile2__list">
				<ul>
					<li>
						<a href="#">درباره</a>
					</li>
					<li><a href="#">وبلاگ</a></li>
					<li><a href="#">حمایت کردن</a></li>
					<li><a href="#">مقررات</a></li>
					<li><a href="#">حریم خصوصی</a></li>
				</ul>
			</div>
			<div class="footer-mobile2__add-work">
				<a href="#">یک کسب و کار در Yelp اضافه کنید</a>
			</div>
			<div class="footer-mobile2__copyright">
				<span>حق چاپ © 2004–2020</span>
				<img src="~/Designs/MainWebSite/assets/img/logo.png" class="img">
				<span>,</span>
				<img src="~/Designs/MainWebSite/assets/img/logoo.png" class="">
				<span>و علائم مربوط به آن علائم تجاری ثبت شده یلپ هستند.</span>
			</div>
		</div>
	</footer>


	<script src="~/Designs/MainWebSite/assets/js/footer-bundle.js"></script>
	<script src="~/Designs/MainWebSite/assets/js/scripts.js"></script>
	<script src="~/lib/fontawesome-free/js/all.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>