@model BizApp.Models.Basic.AskTheCommunityViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AllPagesLayout.cshtml";
}

<section class="brdcrumbs">
	<div class="container">
		<ul>
			<li><a href="#">@Model.askTheCommunity_NavbarViewModel.Subject</a></li>
			<li><svg id="24x24_chevron_right" height="24" viewBox="0 0 24 24" width="24"><path d="M9.525 5.636L8.11 7.05 13.06 12l-4.95 4.95 1.415 1.414L15.89 12 9.524 5.636z"></path></svg>از مردم بپرسید</li>
		</ul>
	</div>
</section>
<section class="questions">
	<div class="container">
		<div class="questions__title">
			<h1>از مردم بپرسید</h1>
		</div>
		@*<div class="questions__sort">
			<span>مرتب سازی</span>
			<div class="form-group">
				<select name="" id="" class="form-control selectpicker">
					<option value="">محبوب</option>
					<option value="">آخرین پاسخ</option>
					<option value="">جدید ترین</option>
				</select>
			</div>
		</div>*@
		@foreach (var item in Model.askTheCommunity_QuestionListViewModels)
		{
			<div class="questions__item">
				<div class="questions__item__title">
					<h2>@item.Subject</h2>
				</div>
				<div class="questions__item__author" style="margin-top:10px">
					<span>پرسش توسط<a href="#">@item.UserName</a></span>
				</div>
				<div class="questions__item__row">
					<div class="questions__item__avatar">
						<img src="@item.UserImage">
					</div>
					<div class="questions__item__desc">
						<p>@item.Answer</p>
				
						<div class="questions__item__desc__info">

							<span>@item.Date</span>
						</div>
					</div>
				</div>
				<div class="questions__item__more">
					@{

						if (item.AnswersCount > 0)
						{
							<a href="/AskTheCommunity/GetFaqsAnswers?BusinessFaqId=@item.Id&&Id=@Model.askTheCommunity_BusinessViewModel.Id">نمایش @item.AnswersCount پاسخ بیشتر</a>
						}
						else
						{
							<a href="/AskTheCommunity/GetFaqsAnswers?BusinessFaqId=@item.Id&&Id=@Model.askTheCommunity_BusinessViewModel.Id">پاسخ دهید</a>
						}
					}

				</div>
			</div>
		}
		<div class="questions__form">

			<h3>سوال خود را پیدا نکردید؟ بپرسید</h3>
			<form action="/AskTheCommunity/Add" method="post">
			<textarea name="Question" class="form-control" placeholder="دوست دارید درباره این مکان بیشتر بدانید؟" required></textarea>
			<input name="BusinessId" value="@Model.askTheCommunity_BusinessViewModel.Id" hidden />
			@*<div class="questions__check">
				<input type="checkbox" name="" id="questions">
				<label for="questions">پاسخهای جدید را به من اطلاع دهید</label>
			</div>*@
			<button type="submit" class="btn">ارسال پیام</button>
			</form>
		</div>
	</div>
</section>