@model DomainClass.Queries.SearchBussinessQuery

@{
    Layout = "_AllPagesLayout";
}
<style>
    .leaflet-div-icon {
        background: transparent;
        border: none;
    }

    .leaflet-marker-icon .number {
        position: relative;
        top: -37px;
        font-size: 16px;
        width: 25px;
        text-align: center;
    }

    .lbl-cat {
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 2px;
        cursor: pointer;
        margin:5px;
    }

    .button-cat {
        color: #fff;
        background: #d32323;
        padding: 0 35px;
        line-height: 36px;
        border: none;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
    }

    .active-lbl-cat, .lbl-cat:hover {
        background-color: #666;
        color: white;
    }

    .collapsible {
        background-color: #f5f5f5;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: right;
        outline: none;
        font-size: 15px;
    }

        .activeProv, .collapsible:hover {
            background-color: #666;
            color: white;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: left;
            margin-left: 5px;
        }

    .activeProv:after {
        content: "\2212";
    }

    .contentPro {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

        .contentPro .form-check-label {
            color: #2b273c;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-left: 8px;
        }

        .contentPro .form-check-input {
            margin-top: 0;
            margin-left: 10px;
            position: static;
            width: 20px;
            height: 20px;
        }

        .contentPro .form-check-label {
            color: #2b273c;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-left: 8px;
        }

    #click-featu .category-content {
        display: block !important;
        padding: 0 !important;
    }

    #click-cat .category-content {
        display: block !important;
        padding: 0 !important;
    }
</style>
<section class="category-content">
    <div class="category-content__sidebar">
        <div class="category-content__filter-mobail">
            <div class="category-content__filter-mobail__button-filter">
                <a href="#">فیلتر</a>
            </div>
            <div class="category-content__filter-mobail__button-list">
                <div class="category-content__filter-mobail__button-list__list">
                    <a href="#" class="active">لیست</a>
                </div>
                <div class="category-content__filter-mobail__button-list__map">
                    <a href="#">نقشه</a>
                </div>
            </div>
        </div>
        <div class="category-content__item-filter">
            <div class="category-content__item-filter__filter">
                <h3>فیلتر</h3>
                <div class="category-content__item-filter__filter__number">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-content__item-filter__proposal">
                <div class="category-content__item-filter__proposal__title">
                    <h3>پیشنهاد شده</h3>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">اکنون باز شده است</label>
                    <span class="span">14:18</span>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>دسته بندی</h3>
                </div>

                @foreach (var item in Model.categories.Take(4))
                {
                    <p class="lbl-cat" onclick="SearchByCat('@item.Name.Replace(" ","-")')">@item.Name</p>
                }
                <div class="category-content__item-filter__property__all">
                    <a href="#" data-toggle="modal" onclick="OpenCategoryModal()">نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>ویژگی ها</h3>
                </div>
                @foreach (var item in Model.features.Take(4))
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input form-check-featu" id="featu-@item.Id">
                        <label class="form-check-label" for="featu-@item.Id">@item.Name</label>
                    </div>
                }
                <div class="category-content__item-filter__property__all">
                    <a href="#" onclick="OpenFeatureModal()">نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__areas">
                <div class="category-content__item-filter__areas__title">
                    <h3>استانها</h3>
                </div>
                @foreach (var item in Model.provinces.Take(4))
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input form-check-featu" id="prov-@item.Id">
                        <label class="form-check-label" for="prov-@item.Id">@item.Name</label>
                    </div>
                }
                <div class="category-content__item-filter__areas__all">
                    <a href="#" onclick="OpenProvModal()">نمایش همه</a>
                </div>
            </div>

        </div>
    </div>
    <div class="category-content__item">
        <div class="category-content__item__title">
            <div class="category-content__item__title__top">
                <a href="#">برلین</a>
                <svg width="16" height="16" class="icon_svg">
                    <path d="M6.5 12.05a1 1 0 01-.7-.28 1 1 0 010-1.42L8.1 8 5.79 5.65a1 1 0 111.42-1.41l3 3.06a1 1 0 010 1.4l-3 3.06a1 1 0 01-.71.29z">
                    </path>
                </svg>
                <a href="#">وسایل نقلیه</a>
            </div>
            <div class="category-content__item__title__bottom">
                <div class="category-content__item__title__bottom__right">
                    <h1>10 وسیله نقلیه برتر در برلین</h1>
                </div>
                <div class="category-content__item__title__bottom__left">
                    <span>مرتب سازی : </span>
                    <select class="selectpicker form-control">
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="AllBussiness"></div>
        <div class="category-content__item__quastion">
            <div class="category-content__item__quastion__img">
                <img src="./assets/img/img-quastion.svg">
            </div>
            <div class="category-content__item__quastion__text">
                <h3>آیا نمی توانید تجارت را پیدا کنید؟</h3>
                <p>افزودن مشاغل به Yelp همیشه رایگان است.</p>
            </div>
            <div class="category-content__item__quastion__button">
                <a href="#">ایجاد شرکت</a>
            </div>
        </div>
        <div class="category-content__item__text">
            <p>از نتیجه راضی هستید؟ <a href="#">به ما کمک کنید Yelp را بهتر کنیم.</a></p>
        </div>
        <div class="category-content__item__more">
            <a href="#">
                نتایج بیشتر
            </a>
        </div>
        <div class="category-content__item__information">
            <h3>اطلاعات بیشتر در مورد وسایل نقلیه در برلین</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                        <a href="#">دسته های بیشتر</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-content__item__work">
            <h3>کارها را با Yelp انجام دهید.</h3>
            <div class="category-content__item__work__list">
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work1.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work2.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work3.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work4.png"></a>
                </div>
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work5.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work6.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work7.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work8.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-content__map" id="weathermap"></div>
</section>
<div class=" modal fade" id="click-cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="recent-activities__modal__close" data-dismiss="modal">
                    <span>بستن</span>

                </div>
                <div class="category-content">
                    @foreach (var item in Model.categories.ToList())
                    {

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@item.Id">
                            <label class="form-check-label" for="@item.Id">@item.Name</label>
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByCategoty()" class="button-cat">جستجو</button>
            </div>

        </div>
    </div>
</div>
<div class=" modal fade" id="click-featu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="recent-activities__modal__close" data-dismiss="modal">
                    <span>بستن</span>
                </div>
                <div class="category-content">
                    @foreach (var item in Model.features.ToList())
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-check-label" id="featuModal-@item.Id">
                            <label class="form-check-label" for="featuModal-@item.Id">@item.Name</label>
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByFeature()" class="button-cat">جستجو</button>
            </div>

        </div>
    </div>
</div>
<div class=" modal fade" id="click-prov" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="recent-activities__modal__close" data-dismiss="modal">
                    <span>بستن</span>
                </div>
                <div class="Prov-content ">
                    @foreach (var item in Model.provinces.ToList())
                    {
                        <button class="collapsible">@item.Name</button>
                        <div class="contentPro">
                            @foreach (var item2 in Model.cities.Where(x => x.ProvinceId == item.Id).ToList())
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ProvModal-@item2.Id">
                                    <label class="form-check-label" for="ProvModal-@item2.Id">@item2.Name</label>
                                </div>
                            }
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByPro()" class="button-cat">جستجو</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("activeProv");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
    <script>
        window.arr1 = [];
    </script>
    <script src="~/Scripts/Search/changeUrl.js"></script>
    <script>
        function OpenCategoryModal() {
            $('#click-cat').modal('show');
            var parseQueryString = function () {
                var str = window.location.search;
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };
            var params = parseQueryString();
            if (params["catsFinder"] != undefined) {
                $('#click-cat .category-content .form-check-label').each(function () {

                    if (decodeURIComponent(params["catsFinder"].toString()).includes($.trim($(this).text().replaceAll(" ", "-"))))

                        $(this).prev().prop('checked', 'checked')
                });
            }
        }
        function OpenFeatureModal() {
            $('#click-featu').modal('show');
            var parseQueryString = function () {
                var str = window.location.search;
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };
            var params = parseQueryString();
            if (params["featuFinder"] != undefined) {
                $('#click-featu .category-content .form-check-label').each(function () {
                    if (decodeURIComponent(params["featuFinder"].toString()).includes($.trim($(this).text().replaceAll(" ", "-"))))
                        $(this).prev().prop('checked', 'checked')
                });
            }
        }
        function OpenProvModal() {
            $('#click-prov').modal('show');
            var parseQueryString = function () {
                var str = window.location.search;
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };

            var params = parseQueryString();
            if (decodeURIComponent(params["districtFinder"]).toString() != undefined) {
                var match = decodeURIComponent(params["districtFinder"]).toString().split(',');
                $('.contentPro .form-check-input').prop('checked', false);
                for (var a in match) {
                    $('#click-prov .Prov-content  .collapsible').each(function () {
                        if (match[a] == $.trim($(this).text().replaceAll(" ", "-")))
                            $(this).nextAll().has(":checkbox").first().find(":checkbox").prop('checked', true);
                    });
                }
            }
        }
    </script>
    <script>
            var pageN = 1;
            const markerHtmlStyles = "background-color:#000; width: 3rem; height: 3rem; display: block;  left: -1.5rem;  top: -1.5rem;  position: relative;  border-radius: 3rem 3rem 0;  transform: rotate(45deg);  border: 1px solid #FFFFFF";
        $(document).ready(function () {

                var parseQueryString = function () {
                    var str = window.location.search;
                    // find href and then concat other category
                    var objURL = {};
                    str.replace(
                        new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                        function ($0, $1, $2, $3) {
                            objURL[$1] = $3;
                        }
                    );
                    return objURL;
                };
            var params = parseQueryString();
            if (params["catsFinder"] != undefined) {

                var match = decodeURIComponent(params["catsFinder"]).toString().split(',');
                for (var a in match) {
                    $(".category-content__item-filter__property").find(".lbl-cat").each(function () {
                        if (match[a] == $.trim($(this).text().replaceAll(" ", "-")))
                            $(this).toggleClass("active-lbl-cat");
                    });
                }
            }
            if (params["featuFinder"] != undefined) {
                var match = decodeURIComponent(params["featuFinder"]).toString().split(',');
                for (var a in match) {
                    $(".category-content__item-filter__property").find(".form-check").each(function () {
                       
                        if ($.trim(match[a].replaceAll("-", " ")) == $.trim($(this).find('.form-check-label').text()))
                            $(this).find(":checkbox").prop('checked', true);
                    });
                }
            }
            if (params["districtFinder"] != undefined) {
                var match = decodeURIComponent(params["districtFinder"]).toString().split(',');
                for (var a in match) {
                    $(".category-content__item-filter__areas").find(".form-check").each(function () {

                        if ($.trim(match[a].replaceAll("-", " ")) == $.trim($(this).find('.form-check-label').text()))
                            $(this).find(":checkbox").prop('checked', true);
                    });
                }
            }
            disposeFilterForType(pageN, params["catsFinder"], params["featuFinder"], params["districtFinder"]);

            });
            function SearchByCat(cats) {
                $(".category-content__item-filter__property").find(".lbl-cat").each(function () {
                    if ($.trim($(this).text().replaceAll(" ", "-")) == $.trim(cats))
                        $(this).toggleClass("active-lbl-cat");
                });
                var catsFinder = addParameterToUrl(cats);
                disposeFilterForType(pageN, catsFinder);
            }
            var request = new Request('AllBussiness');
            var disposeFilterForType = (p, catsFinder, featuFinder, districtFinder) => {
                const disposeFilterRemover = (url, parameters) => {
                    for (var key in parameters) {
                        if (parameters[key] == undefined)
                            delete parameters[key];
                    }
                    request.disposeFilter(url, parameters)
                }
                disposeFilterRemover('/Search/AllBussiness', { CategoryId: '@ViewBag.CategoryId', page: p, catsFinder: catsFinder, featuFinder: featuFinder, districtFinder: districtFinder })
            }
            function addParameterToUrl(cats, featu,dist) {

                var catsFinder = "";
                var featuFinder = "";
                var distFinder = "";
                const urlParameters = window.location.href;
                var parseQueryString = function () {
                    var str = window.location.search;
                    // find href and then concat other category
                    var objURL = {};
                    str.replace(
                        new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                        function ($0, $1, $2, $3) {
                            objURL[$1] = $3;
                        }
                    );
                    return objURL;
                };
                var params = parseQueryString();
                if (cats != null) {

                    if (params["catsFinder"] == undefined)
                        catsFinder = cats;
                    else {

                        var urlCats = decodeURIComponent(params["catsFinder"].toString());
                        if (urlCats == cats+",") {
                            urlCats = urlCats.replace(urlCats, '');
                        }
                       else if (!urlCats.includes($.trim(cats)))
                                catsFinder = params["catsFinder"] + "," + cats;
                            else {
                            var strCats = urlCats;
                                catsFinder = strCats.replace($.trim(cats), '');
                                catsFinder = catsFinder.trim().replace(/,{1,}$/, '');
                            }
                        }


                    if (catsFinder == "")
                        return undefined;
                    else
                        return catsFinder;

                }
                if (featu != null) {

                    if (params["featuFinder"] == undefined)
                        featuFinder = featu;
                    else {

                        if (!decodeURIComponent(params["featuFinder"].toString()).includes($.trim(featu)))
                            featuFinder = params["featuFinder"] + "," + featu;
                        else {

                            var strfeatu = decodeURIComponent(params["featuFinder"].toString());
                            featuFinder = strfeatu.replace($.trim(featu), '');
                            featuFinder = featuFinder.trim().replace(/,{1,}$/, '');
                        }

                    }
                    if (featuFinder == "")
                        return undefined;
                    else
                        return featuFinder;

                }
                if (dist != null) {
                    if (params["districtFinder"] == undefined)
                        distFinder = dist;
                    else {

                        if (!decodeURIComponent(params["districtFinder"].toString()).includes($.trim(dist)))
                            distFinder = params["districtFinder"] + "," + dist;
                        else {

                            var strdist = decodeURIComponent(params["districtFinder"].toString());
                            distFinder = strdist.replace($.trim(dist), '');
                            distFinder = distFinder.trim().replace(/,{1,}$/, '');
                        }

                    }
                    if (distFinder == "")
                        return undefined;
                    else
                        return distFinder;

                }
            }
    </script>
    <script>
        function ChangePage(page) {
            pageN = page;
            disposeFilterForType(page);
        }
        function SearchByCategoty() {
            var catsFinder = "";
            $('#click-cat .category-content input[type=checkbox]:checked').each(function () {

                catsFinder += $(this).next().text().replaceAll(" ", "-") + ",";
            });
            catsFinder = catsFinder.slice(0, -1);
            disposeFilterForType(pageN, catsFinder);
            $("#click-cat").modal('hide');
            $('.modal-backdrop').remove();
        }
        function SearchByFeature() {
            var featuFinder = "";
            $('#click-featu .category-content input[type=checkbox]:checked').each(function () {
                featuFinder += $(this).next().text().replaceAll(" ", "-") + ",";
            });
            featuFinder = featuFinder.slice(0, -1);
            disposeFilterForType(pageN, undefined, featuFinder);
            $("#click-featu").modal('hide');
            $('.modal-backdrop').remove();
        }
        function SearchByPro() {
            var districtFinder = "";
            $('#click-prov .Prov-content input[type=checkbox]:checked').each(function () {
                districtFinder += $(this).next().text().replaceAll(" ", "-") + ",";
            });
            districtFinder = districtFinder.slice(0, -1);
            disposeFilterForType(pageN, undefined, undefined, districtFinder);
            $("#click-prov").modal('hide');
            $('.modal-backdrop').remove();
        }
    </script>
    <script>
        //var header = document.getElementById("myDIV");
        //var lbls = header.getElementsByClassName("lbl-cat");
        //for (var i = 0; i < lbls.length; i++) {
        //    lbls[i].addEventListener("click", function () {
        //        var current = document.getElementsByClassName("active-lbl-cat");
        //        current[0].className = current[0].className.replace(" active-lbl-cat", "");
        //        this.className += " active-lbl-cat";
        //    });
        //}
    </script>
    <script>
        $('.category-content__item-filter__property .form-check-featu').change(function () {
            var featursFinder = addParameterToUrl(null, $(this).next().text().replaceAll(" ", "-"));
            disposeFilterForType(pageN, undefined, featursFinder);
        });
        $('.category-content__item-filter__areas .form-check-featu').change(function () {
            //var pro = $(this).next().text().replaceAll(" ", "-");
            var pro = addParameterToUrl(null, null, $(this).next().text().replaceAll(" ", "-"));

            disposeFilterForType(pageN, undefined, undefined, pro);

            //var districtFinder = addParameterToUrl(null, pro);
            //$(".Prov-content").find(".lbl-cat").each(function () {
            //    if ($.trim($(this).text().replaceAll(" ", "-")) == $.trim(cats))
            //        $(this).toggleClass("active-lbl-cat");
            //});
            //$(".Prov-content .collapsible").each(function () {
            //    if ($(this).text().replaceAll(" ", "-") == $.trim(pro)) {
            //        $(this).find('.contentPro').prop("checked", "checked")

            //    }
            //})
            //disposeFilterForType(pageN, undefined, undefined, districtFinder);
        });
    </script>

}
