@model DomainClass.Queries.SearchBussinessQuery

@{
    Layout = "_AllPagesLayout";
}
<style>
    .leaflet-div-icon {
        background: transparent;
        border: none;
    }

    .leaflet-marker-icon .number {
        position: relative;
        top: -37px;
        font-size: 16px;
        width: 25px;
        text-align: center;
    }

    .lbl-cat {
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 2px;
        cursor: pointer;
        /*margin:5px;*/
    }

    .button-cat {
        color: #fff;
        background: #d32323;
        padding: 0 35px;
        line-height: 36px;
        border: none;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
    }
    .active-lbl-cat, .lbl-cat:hover {
        background-color: #666;
        color: white;
    }
</style>
<section class="category-content">
    <div class="category-content__sidebar">
        <div class="category-content__filter-mobail">
            <div class="category-content__filter-mobail__button-filter">
                <a href="#">فیلتر</a>
            </div>
            <div class="category-content__filter-mobail__button-list">
                <div class="category-content__filter-mobail__button-list__list">
                    <a href="#" class="active">لیست</a>
                </div>
                <div class="category-content__filter-mobail__button-list__map">
                    <a href="#">نقشه</a>
                </div>
            </div>
        </div>
        <div class="category-content__item-filter">
            <div class="category-content__item-filter__filter">
                <h3>فیلتر</h3>
                <div class="category-content__item-filter__filter__number">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-content__item-filter__proposal">
                <div class="category-content__item-filter__proposal__title">
                    <h3>پیشنهاد شده</h3>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">اکنون باز شده است</label>
                    <span class="span">14:18</span>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>دسته بندی</h3>
                </div>

                @foreach (var item in Model.categories.Take(4))
                {

                    <p class="lbl-cat" onclick="SearchByCat('@item.Name.Replace(" ","-")')">@item.Name</p>


                }
                <div class="category-content__item-filter__property__all">
                    <a href="#" data-toggle="modal" onclick="OpenCategoryModal()" >نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>ویژگی ها</h3>
                </div>
                @foreach (var item in Model.features.Take(4))
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="featu-@item.Id">
                        <label class="form-check-label" for="featu-@item.Id">@item.Name</label>
                    </div>
                }
                    <div class="category-content__item-filter__property__all">
                        <a href="#">نمایش همه</a>
                    </div>
                </div>
            <div class="category-content__item-filter__areas">
                <div class="category-content__item-filter__areas__title">
                    <h3>مناطق</h3>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">WLAN بصورت رایگان</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">WLAN بصورت رایگان</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">WLAN بصورت رایگان</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">WLAN بصورت رایگان</label>
                </div>
                <div class="category-content__item-filter__areas__all">
                    <a href="#">نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__distance">
                <div class="category-content__item-filter__distance__title">
                    <h3>مسافت</h3>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        از دید پرنده
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        از دید پرنده
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        از دید پرنده
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        از دید پرنده
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="category-content__item">
        <div class="category-content__item__title">
            <div class="category-content__item__title__top">
                <a href="#">برلین</a>
                <svg width="16" height="16" class="icon_svg">
                    <path d="M6.5 12.05a1 1 0 01-.7-.28 1 1 0 010-1.42L8.1 8 5.79 5.65a1 1 0 111.42-1.41l3 3.06a1 1 0 010 1.4l-3 3.06a1 1 0 01-.71.29z">
                    </path>
                </svg>
                <a href="#">وسایل نقلیه</a>
            </div>
            <div class="category-content__item__title__bottom">
                <div class="category-content__item__title__bottom__right">
                    <h1>10 وسیله نقلیه برتر در برلین</h1>
                </div>
                <div class="category-content__item__title__bottom__left">
                    <span>مرتب سازی : </span>
                    <select class="selectpicker form-control">
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="AllBussiness"></div>
        <div class="category-content__item__quastion">
            <div class="category-content__item__quastion__img">
                <img src="./assets/img/img-quastion.svg">
            </div>
            <div class="category-content__item__quastion__text">
                <h3>آیا نمی توانید تجارت را پیدا کنید؟</h3>
                <p>افزودن مشاغل به Yelp همیشه رایگان است.</p>
            </div>
            <div class="category-content__item__quastion__button">
                <a href="#">ایجاد شرکت</a>
            </div>
        </div>
        <div class="category-content__item__text">
            <p>از نتیجه راضی هستید؟ <a href="#">به ما کمک کنید Yelp را بهتر کنیم.</a></p>
        </div>
        <div class="category-content__item__more">
            <a href="#">
                نتایج بیشتر
            </a>
        </div>
        <div class="category-content__item__information">
            <h3>اطلاعات بیشتر در مورد وسایل نقلیه در برلین</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                        <a href="#">دسته های بیشتر</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-content__item__work">
            <h3>کارها را با Yelp انجام دهید.</h3>
            <div class="category-content__item__work__list">
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work1.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work2.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work3.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work4.png"></a>
                </div>
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work5.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work6.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work7.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work8.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-content__map" id="weathermap"></div>
</section>
<div class="recent-activities__modal modal fade" id="click-cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="recent-activities__modal__close" data-dismiss="modal">
                    <span>بستن</span>

                </div>
                <div class="category-content">
                    @foreach (var item in Model.categories.ToList())
                    {
                        @*<p class="lbl-cat" onclick="SearchByCat(@item.Id)">@item.Name</p>*@
                       
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@item.Id">
                            <label class="form-check-label" for="@item.Id">@item.Name</label>
                        </div>
                    }
                </div>
                <button onclick="SearchByCategoty()" class="button-cat">جستجو</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    
    <script>
        window.arr1 = [];
    </script>
    <script src="~/Scripts/Search/changeUrl.js"></script>
    <script>
        function OpenCategoryModal() {
            $('#click-cat').modal('show');
            var parseQueryString = function () {
                var str = window.location.search;
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };
            var params = parseQueryString();
            if (params["catsFinder"] != undefined) {
                $('#click-cat .category-content .form-check-label').each(function () {
                    
                    if (decodeURIComponent(params["catsFinder"].toString()).includes($.trim($(this).text().replaceAll(" ", "-"))))
                        
                    $(this).prev().prop('checked','checked')
                });
            }
        }
    </script>
    <script>
        var pageN = 1;
        const markerHtmlStyles = "background-color:#000; width: 3rem; height: 3rem; display: block;  left: -1.5rem;  top: -1.5rem;  position: relative;  border-radius: 3rem 3rem 0;  transform: rotate(45deg);  border: 1px solid #FFFFFF";
        $(document).ready(function () {
           
            //GetData("/Search/AllBussiness?CategoryId=1058&page=1", "AllBussiness", null, 1);
            //history.pushState(null, null, "/Search/Index?CategoryId=1058&page=1");
            var catsFinder = "";
            var parseQueryString = function () {
                var str = window.location.search;
                // find href and then concat other category
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };
            var params = parseQueryString();
            if (params["catsFinder"] != undefined) {
                catsFinder = params["catsFinder"];
                disposeFilterForType(pageN, catsFinder);
            }
            else
                disposeFilterForType(pageN);

        });
        function SearchByCat(cats) {
            $(".category-content__item-filter__property").find(".lbl-cat").each(function () {
                if ($.trim($(this).text().replaceAll(" ", "-")) == $.trim(cats))
                    $(this).toggleClass("active-lbl-cat");
            });
            var catsFinder= addParameterToUrl(cats);
            disposeFilterForType(pageN, catsFinder);
        }
        var request = new Request('AllBussiness');
        //var disposeFilterForType = (p, catsFinder, featuFinder) => {
        var disposeFilterForType = (p, featuFinder) => {
            
          //  if (catsFinder != undefined )
          //      request.disposeFilter('/Search/AllBussiness', { CategoryId: 1059, page: p, catsFinder: catsFinder })
            //else  
            if (featuFinder != undefined)
                request.disposeFilter('/Search/AllBussiness', { CategoryId: 1059, page: p, featuFinder: featuFinder })
            else
                request.disposeFilter('/Search/AllBussiness', { CategoryId: 1059, page: p })
        }
        function addParameterToUrl(cats, featu) {
           
            var catsFinder = "";
            var featuFinder = "";
            const urlParameters = window.location.href;
            var parseQueryString = function () {
                var str = window.location.search;
                // find href and then concat other category
                var objURL = {};
                str.replace(
                    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                    function ($0, $1, $2, $3) {
                        objURL[$1] = $3;
                    }
                );
                return objURL;
            };
            var params = parseQueryString();
            if (cats != null) {
              
                if (params["catsFinder"] == undefined)
                    catsFinder = cats;
                else {

                    if (!decodeURIComponent(params["catsFinder"].toString()).includes($.trim(cats)))
                        catsFinder = params["catsFinder"] + "," + cats;
                    else {
                        
                        var strCats = decodeURIComponent(params["catsFinder"].toString());
                        catsFinder = strCats.replace($.trim(cats), '');
                       catsFinder = catsFinder.trim().replace(/,{1,}$/, '');
                        
                    }

                }
                if (catsFinder == "")
                    return undefined;
                else
                    return catsFinder;
               
            }
            if (featu != null) {

                if (params["featuFinder"] == undefined)
                    featuFinder = featu;
                else {

                    if (!decodeURIComponent(params["featuFinder"].toString()).includes($.trim(featu)))
                        featuFinder = params["featuFinder"] + "," + featu;
                    else {

                        var strfeatu = decodeURIComponent(params["featuFinder"].toString());
                        featuFinder = strfeatu.replace($.trim(featu), '');
                        featuFinder = featuFinder.trim().replace(/,{1,}$/, '');
                    }

                }
                if (featuFinder == "")
                    return undefined;
                else
                    return featuFinder;

            }
           
            
        }
    </script>
    <script>
    function ChangePage(page) {
        @*GetData("/Search/AllBussiness?CategoryId="+@ViewBag.CategoryId+"&page=" + page + "", "AllBussiness", null, page);
        history.pushState(null, null, "/Search/Index?CategoryId=1058&page=" + page + "");*@
        pageN = page;
        disposeFilterForType(page);
    }
    function SearchByCategoty() {
            var catsFinder = "";
            $('#click-cat .category-content input[type=checkbox]:checked').each(function () {
                
                catsFinder += $(this).next().text().replaceAll(" ", "-")+",";
            });
            catsFinder = catsFinder.slice(0, -1);
           
            disposeFilterForType(pageN, catsFinder);
            $("#click-cat").modal('hide');
            $('.modal-backdrop').remove();
        }
    </script>
<script>
    var header = document.getElementById("myDIV");
    var lbls = header.getElementsByClassName("lbl-cat");
    for (var i = 0; i < lbls.length; i++) {
        lbls[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active-lbl-cat");
            current[0].className = current[0].className.replace(" active-lbl-cat", "");
            this.className += " active-lbl-cat";
        });
    }
</script>
<script>
    $('.form-check-input').change(function () {
       
        var featursFinder = addParameterToUrl(null, $(this).next().text().replaceAll(" ", "-"));
        disposeFilterForType(pageN, featursFinder);
    });
</script>

}