@model DomainClass.Queries.SearchBussinessQuery

@{
    Layout = "_AllPagesLayout";
}
@section Head
{
    <link href="~/Scripts/Search/Search.css" rel="stylesheet" />
}
<img src="~" />
<section class="category-content">
    <div class="category-content__sidebar">
        <div class="category-content__filter-mobail">
            <div class="category-content__filter-mobail__button-filter">
                <a href="#">فیلتر</a>
            </div>
            <div class="category-content__filter-mobail__button-list">
                <div class="category-content__filter-mobail__button-list__list">
                    <a href="#" class="active">لیست</a>
                </div>
                <div class="category-content__filter-mobail__button-list__map">
                    <a href="#">نقشه</a>
                </div>
            </div>
        </div>
        <div class="category-content__item-filter">
            <div class="category-content__item-filter__filter">
                <h3>فیلتر</h3>
                <div class="category-content__item-filter__filter__number">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-content__item-filter__proposal">
                <div class="category-content__item-filter__proposal__title">
                    <h3>پیشنهاد شده</h3>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">اکنون باز شده است</label>
                    <span class="span">14:18</span>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>دسته بندی</h3>
                </div>

                @foreach (var item in Model.categories.Take(4))
                {
                    <p class="lbl-cat" onclick="SearchByCat('@item.Name.Replace(" ","-")')">@item.Name</p>
                }
                <div class="category-content__item-filter__property__all">
                    <a href="#" data-toggle="modal" onclick="OpenCategoryModal()">نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__property">
                <div class="category-content__item-filter__property__title">
                    <h3>ویژگی ها</h3>
                </div>
                @foreach (var item in Model.features.Take(4))
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input form-check-featu" id="featu-@item.Id">
                        <label class="form-check-label" for="featu-@item.Id">@item.Name</label>
                    </div>
                }
                <div class="category-content__item-filter__property__all">
                    <a href="#" onclick="OpenFeatureModal()">نمایش همه</a>
                </div>
            </div>
            <div class="category-content__item-filter__areas">
                <div class="category-content__item-filter__areas__title">
                    <h3>استانها</h3>
                </div>
                @foreach (var item in Model.provinces.Take(4))
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input form-check-featu" id="prov-@item.Id">
                        <label class="form-check-label" for="prov-@item.Id">@item.Name</label>
                    </div>
                }
                <div class="category-content__item-filter__areas__all">
                    <a href="#" onclick="OpenProvModal()">نمایش همه</a>
                </div>
            </div>

        </div>
    </div>
    <div class="category-content__item">
        <div class="category-content__item__title">
            <div class="category-content__item__title__top">
                <a href="#">برلین</a>
                <svg width="16" height="16" class="icon_svg">
                    <path d="M6.5 12.05a1 1 0 01-.7-.28 1 1 0 010-1.42L8.1 8 5.79 5.65a1 1 0 111.42-1.41l3 3.06a1 1 0 010 1.4l-3 3.06a1 1 0 01-.71.29z">
                    </path>
                </svg>
                <a href="#">وسایل نقلیه</a>
            </div>
            <div class="category-content__item__title__bottom">
                <div class="category-content__item__title__bottom__right">
                    <h1>10 وسیله نقلیه برتر در برلین</h1>
                </div>
                <div class="category-content__item__title__bottom__left">
                    <span>مرتب سازی : </span>
                    <select class="selectpicker form-control">
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                        <option>توصیه میشود</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="AllBussiness"></div>
        <div class="category-content__item__quastion">
            <div class="category-content__item__quastion__img">
                <img src="./assets/img/img-quastion.svg">
            </div>
            <div class="category-content__item__quastion__text">
                <h3>آیا نمی توانید تجارت را پیدا کنید؟</h3>
                <p>افزودن مشاغل به Yelp همیشه رایگان است.</p>
            </div>
            <div class="category-content__item__quastion__button">
                <a href="#">ایجاد شرکت</a>
            </div>
        </div>
        <div class="category-content__item__text">
            <p>از نتیجه راضی هستید؟ <a href="#">به ما کمک کنید Yelp را بهتر کنیم.</a></p>
        </div>
        <div class="category-content__item__more">
            <a href="#">
                نتایج بیشتر
            </a>
        </div>
        <div class="category-content__item__information">
            <h3>اطلاعات بیشتر در مورد وسایل نقلیه در برلین</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                        <a href="#">دسته های بیشتر</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="category-content__item__information__item">
                        <ul>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                            <li><a href="#">جزئیات خودکار</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-content__item__work">
            <h3>کارها را با Yelp انجام دهید.</h3>
            <div class="category-content__item__work__list">
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work1.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work2.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work3.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work4.png"></a>
                </div>
                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work5.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work6.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work7.png"></a>
                </div>

                <div class="category-content__item__work__item">
                    <a href="#"><img src="./assets/img/img-work8.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-content__map" id="weathermap"></div>
</section>
<div class=" modal fade" id="click-cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="stay-gold-content__modal__header">
                    <div class="stay-gold-content__modal__header__title">
                        <h5>انتخاب دسته بندی</h5>
                        <p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
                    </div>
                    <div class="stay-gold-content__modal__header__close">
                        <a href="#" data-dismiss="modal" dideo-checked="true"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
                    </div>
                </div>
                <div class="category-content">
                    @foreach (var item in Model.categories.ToList())
                    {

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@item.Id">
                            <label class="form-check-label" for="@item.Id">@item.Name</label>
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByCategoty()" class="button-cat">جستجو</button>
            </div>

        </div>
    </div>
</div>
<div class=" modal fade" id="click-featu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="stay-gold-content__modal__header">
                    <div class="stay-gold-content__modal__header__title">
                        <h5>انتخاب ویژگی</h5>
                        <p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
                    </div>
                    <div class="stay-gold-content__modal__header__close">
                        <a href="#" data-dismiss="modal" dideo-checked="true"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
                    </div>
                </div>
                <div class="category-content">
                    @foreach (var item in Model.features.ToList())
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-check-label" id="featuModal-@item.Id">
                            <label class="form-check-label" for="featuModal-@item.Id">@item.Name</label>
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByFeature()" class="button-cat">جستجو</button>
            </div>

        </div>
    </div>
</div>
<div class=" modal fade" id="click-prov" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="stay-gold-content__modal__header">
                    <div class="stay-gold-content__modal__header__title">
                        <h5>انتخاب استان</h5>
                        <p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
                    </div>
                    <div class="stay-gold-content__modal__header__close">
                        <a href="#" data-dismiss="modal" dideo-checked="true"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
                    </div>
                </div>
                <div class="Prov-content ">
                    @foreach (var item in Model.provinces.ToList())
                    {
                        <button class="collapsible">@item.Name</button>
                        <div class="contentPro">
                            @foreach (var item2 in Model.cities.Where(x => x.ProvinceId == item.Id).ToList())
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ProvModal-@item2.Id">
                                    <label class="form-check-label" for="ProvModal-@item2.Id">@item2.Name</label>
                                </div>
                            }
                        </div>
                    }
                </div>
                <br />
                <button onclick="SearchByPro()" class="button-cat">جستجو</button>
            </div>
        </div>
    </div>
</div>
<div class=" modal fade " id="click-quote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-body">
                <div class="stay-gold-content__modal__header">
                    <div class="stay-gold-content__modal__header__title">
                        <h5>ارسال درخواست</h5>
                        <p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
                    </div>
                    <div class="stay-gold-content__modal__header__close">
                        <a href="#" data-dismiss="modal" dideo-checked="true"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
                    </div>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <h6>لطفا برای ثبت درخواست اول وارد سایت شوید</h6>
                    <button onclick="window.location.href='/Identity/Account/Login'" class="reqbtn">ورود</button>
                }
                else
                {
                    <div id="AllQuote"></div>
                    <input id="BussinessID" hidden />
                    <button onclick="SearchPagesQuotes('Prev')" class="reqbtn" id="PrevBtn">قبل</button>
                    <button onclick="SearchPagesQuotes('Next')" class="reqbtn" id="NextBtn" disabled>بعد</button>
                    <button onclick="SubmitQuotes()" class="reqbtn" id="SubmitQuotes">تایید نهایی درخواست</button>
                }
            </div>
        </div>
    </div>
</div>
<div class=" modal fade " id="click-quote-result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-body">
                <div class="stay-gold-content__modal__header">
                    <div class="stay-gold-content__modal__header__title">
                        <h5>ارسال پیام</h5>
                        <p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
                    </div>
                    <div class="stay-gold-content__modal__header__close">
                        <a href="#" data-dismiss="modal" dideo-checked="true"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
                    </div>
                </div>
                <h6>درخواست شما با موفقیت ثبت گردید</h6>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Search/Quote.js"></script>
    <script src="~/Scripts/Search/Search.js"></script>
    <script>
            var CatIdFromUrl ='@ViewBag.CategoryId';
    </script>
}
