@model DomainClass.Review.Queries.UserReviewPaginateQuery
@using BizApp.Utility

<div class="profile-content__comment__comments">
	<div class="profile-content__comment__comments__info">
		<div class="profile-content__comment__comments__info__image">
			<a href="/businessHome?id=@Model.Business.Id">
				<img src="@Model.Business.FeatureImage" alt="">
			</a>
		</div>
		<div class="profile-content__comment__comments__info__text">
			<div class="profile-content__comment__comments__info__text__name">
				<a href="/businessHome?id=@Model.Business.Id">@Model.Business.Name</a>
			</div>
			<div class="profile-content__comment__comments__info__text__category">
				<ul>
					@{
						var categories = Model.Business.Categories.OrderBy(x => x.Key);
						var last = categories.Last();

						foreach (var category in categories)
						{
							<li>
								<a href="/search/allBussiness?CategoryId=@category.Key&page=1/">@category.Value</a>
							</li>
							@if (category.Key != last.Key)
							{
								<li>،</li>
							}
						}
					}
				</ul>

			</div>
			<div class="profile-content__comment__comments__info__text__location">
				<span>@Model.Business.CityName</span>
			</div>
		</div>
	</div>
	<div class="profile-content__comment__comments__Score">
		<div class="profile-content__comment__comments__Score__star" data-star="@Model.Rate">
		</div>
		<div class="profile-content__comment__comments__Score__data">
			<span>@Model.CreatedAt.ToPersianShortDate()</span>
		</div>
	</div>

	<div class="profile-content__comment__comments__txt">
		@Model.Description
	</div>
	@if (Model.Media.Length > 0)
	{
		<div class="profile-content__comment__comments__image">

			@{
				var firstImage = Model.Media.FirstOrDefault();
			}
			<div class="profile-content__comment__comments__image__img">
				<a href="#">
					<img src="@firstImage.ImagePath" alt="">
				</a>
				<span>
					@if (!string.IsNullOrEmpty(firstImage.Description))
					{
						var length = firstImage.Description.Length > 20 ? 20 : firstImage.Description.Length;
						firstImage.Description.Substring(0, length);
					}
				</span>
			</div>

			@if (Model.Media.Length > 1)
			{
				<div class="row" data-space="10">
					@for (int i = 1; i < 3; i++)
					{
						<div class="col-6">
							<div class="profile-content__comment__comments__image__img">
								<a href="#">
									<img src="@Model.Media[i].ImagePath" alt="" loading="lazy">
								</a>
								<span>
									@if (!string.IsNullOrEmpty(Model.Media[i].Description))
									{
										var length = Model.Media[i].Description.Length > 20 ? 20 : 0;
										Model.Media[i].Description.Substring(0, length);
									}
								</span>
							</div>
						</div>
					}
				</div>
			}
		</div>
	}
	<div class="profile-content__comment__comments__review">
		<p>نظر شما در مورد این بررسی چیست...؟</p>
	</div>
	<div class="profile-content__comment__comments__button-cm">
		<div class="profile-content__comment__comments__button-cm__right">
			<ul>
				<li>
					<a onclick="changeUsefulButton_Clicked('@Model.Id')">
						<svg id="18x18_useful_outline" height="18" viewBox="0 0 18 18" width="18"><path d="M9 17c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM9 2C5.14 2 2 5.14 2 9s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm2 8.392V12H7v-1.608a3.982 3.982 0 0 1-2-3.445 4 4 0 0 1 8 0c0 1.477-.81 2.752-2 3.445zM8 5.25a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5zm1.003 9.747h-.006A1.997 1.997 0 0 1 7 13h4a1.997 1.997 0 0 1-1.997 1.997z"></path></svg>
						مفید
						<span id="usefulSpan@(Model.Id)">
							@if (Model.UsefulCount > 0)
							{
								@Model.UsefulCount.ToString();
							}
						</span>
					</a>
				</li>
				<li>
					<a onclick="changeFunnyButton_Clicked('@Model.Id')">
						<svg id="18x18_funny_outline" height="18" viewBox="0 0 18 18" width="18"><path d="M9 17c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM9 2C5.14 2 2 5.14 2 9s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm0 12a4.87 4.87 0 0 1-4.787-4h9.574A4.87 4.87 0 0 1 9 14zm2.5-5.625a1.376 1.376 0 1 1 0-2.75 1.376 1.376 0 0 1 0 2.75zm-5 0a1.376 1.376 0 1 1 0-2.75 1.376 1.376 0 0 1 0 2.75z"></path></svg>
						خنده دار
						<span id="funnySpan@(Model.Id)">
							@if (Model.FunnyCount > 0)
							{
								@Model.FunnyCount.ToString();
							}
						</span>
					</a>
				</li>
				<li>
					<a onclick="changeCoolButton_Clicked('@Model.Id')">
						<svg id="18x18_cool_outline" height="18" viewBox="0 0 18 18" width="18"><path d="M9 17c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM9 2C5.14 2 2 5.14 2 9s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm6.026 5.335C14.766 8.797 13.5 10 11.986 10h-.003c-1.218 0-2.282-.764-2.767-1.813-.088-.19-.344-.242-.432-.052C8.3 9.185 7.234 10 6.016 10h-.003C4.5 10 3.195 8.83 2.973 7.35l-.093-.84c-.053-.242.192-.51.477-.51h11.286c.294 0 .508.332.477.56l-.094.775zm-2.068 4.154A4.28 4.28 0 0 1 9 14.144a4.28 4.28 0 0 1-3.958-2.657A6.81 6.81 0 0 0 9 12.753a6.81 6.81 0 0 0 3.958-1.265z"></path></svg>
						جذاب
						<span id="coolSpan@(Model.Id)">
							@if (Model.CoolCount > 0)
							{
								@Model.CoolCount.ToString();
							}
						</span>

					</a>
				</li>
			</ul>
		</div>
		@*<div class="profile-content__comment__comments__button-cm__left">
				<ul>
					<li><a href="#"><svg id="18x18_share" height="18" viewBox="0 0 18 18" width="18"><path d="M17.714 6.43L13 10.356v-3.03c-1 0-5.097 1.47-6.286 3.62.274-3.08 4.286-5.5 6.286-5.5V2.5l4.714 3.93zM3 4v10h11v-2.5l1-1V15H2V3h8.5l-1 1H3z"></path></svg></a></li>
					<li><a href="#"><svg id="18x18_compliment" height="18" viewBox="0 0 18 18" width="18" class="__web-inspector-hide-shortcut__"><path d="M14.5 6.75a5.5 5.5 0 0 0-11 0 5.495 5.495 0 0 0 2.993 4.892L5.5 16.75l3.505-2 3.495 2-.993-5.108A5.495 5.495 0 0 0 14.5 6.75zm-5.5 4c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path></svg></a></li>
				</ul>
			</div>*@
	</div>

	@* Review comments (not implement) *@
	@if (false)
	{
		<div class="profile-content__comment__comments__form">
			<div class="profile-content__comment__comments__form__top">
				<div class="profile-content__comment__comments__form__top__image">
					<img src="./assets/img/img-form-comment.jpg" alt="">
				</div>
				<div class="profile-content__comment__comments__form__top__text">
					<p>نظر جیسون جی از رستوران Mill</p>
					<span>صاحب مشاغل</span>
				</div>
			</div>
			<div class="profile-content__comment__comments__form__bottom">
				<p>2/9/2020 از شما ، ایزابل ، برای بررسی دقیق و بصیرت آمیز تجربه خود با ما تشکریم! بود…<a href="#">ادامه مطلب</a></p>
			</div>
		</div>
	}
</div>

