@model BizApp.Areas.BusinessProfile.Models.BusinessAccountBusinessInformationDto
@{

	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessAccountManageLayout.cshtml";
}
<link href="~/Designs/BusinessProfile/css/b_info.css" rel="stylesheet" />
<div class="home-section-container">
	<div class="home-section">
		<div class="b_info">
			<div class="b_info-header">
				<div class="b_info-title">
					<h1>@Model.Name</h1>
					<a href="/BusinessProfile/BusinessInformation/BasicInformations?Id=@Model.Id" class="edit-button">
						ویرایش
					</a>
				</div>
				<div class="b_info_rating">
					<div class="rating">

					</div>
					<a href="" class="review-counter">
						<span>@Model.TotalReview</span>
						<span>نظر</span>
					</a>
				</div>
				<div class="b_info-links">
					<a href="" class="b_info-link">
						<div class="navbar-icon">
							<svg width="24" height="24" class="icon_svg">
								<path d="M16 2a1 1 0 011 .68L17.72 5H20a3 3 0 013 3v11a3 3 0 01-3 3H4a3 3 0 01-3-3V8a3 3 0 013-3h2.28L7 2.68A1 1 0 018 2zm-.72 2H8.72L8 6.32A1 1 0 017 7H4a1 1 0 00-1 1v11a1 1 0 001 1h16a1 1 0 001-1V8a1 1 0 00-1-1h-3a1 1 0 01-.95-.68L15.28 4zM12 9a1 1 0 011 1v2.5h2.5a1 1 0 110 2H13V17a1 1 0 11-2 0v-2.5H8.5a1 1 0 110-2H11V10a1 1 0 011-1z">
								</path>
							</svg>
						</div>
						<span>افزودن عکس</span>
					</a>


					<a href="" class="b_info-link">
						<div class="navbar-icon">
							<svg width="24" height="24" class="icon_svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									  d="M21.535 21.535A5 5 0 0118 23H6a5 5 0 01-5-5V6a5 5 0 015-5h12a5 5 0 015 5v12a5 5 0 01-1.465 3.535zM6 3a3 3 0 00-3 3v12a3 3 0 003 3h12a3 3 0 003-3V6a3 3 0 00-3-3H6zm10.82 7.22a.51.51 0 01.41.34.51.51 0 01-.13.56l-2.19 2.13.52 3a.51.51 0 01-.2.49.49.49 0 01-.53 0L12 15.32l-2.7 1.41a.5.5 0 01-.73-.53l.52-3-2.17-2.13a.51.51 0 01-.13-.51.51.51 0 01.41-.34l3-.44L11.55 7a.52.52 0 01.9 0l1.37 2.78 3 .44z">
								</path>
							</svg>
						</div>
						<span>مشاهده نظرات</span>
					</a>

					<a href="" class="b_info-link">
						<div class="navbar-icon">
							<svg width="24" height="24" class="icon_svg">
								<path d="M20.47 3.07a.5.5 0 01.53.46v6a.5.5 0 01-.39.49.58.58 0 01-.19 0 .47.47 0 01-.35-.15L17.8 7.6l-5 5a1 1 0 01-1.41 0 1 1 0 010-1.41l5-5-2.27-2.27a.5.5 0 01.35-.85h6zM20 21H4a1 1 0 01-1-1V4a1 1 0 011-1h6a1 1 0 010 2H5v14h14v-5a1 1 0 012 0v6a1 1 0 01-1 1z">
								</path>
							</svg>
						</div>
						<span>مشاهده یک کانسامر</span>
					</a>
				</div>
			</div>
			<div class="b_info-main">
				<div class="info-item">
					<div class="i-item-header">
						<h1>اطلاعات اکانت کسب وکار </h1>
						<a href="/BusinessProfile/BusinessInformation/BasicInformations?Id=@Model.Id" class="edit-button">
							ویرایش
						</a>
					</div>
					<a href="/BusinessProfile/BusinessInformation/BasicInformations?Id=@Model.Id" class="i-item-content">
						<div class="item-image">

							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
			اطلاعات کسب و کار خود را مانند نام ، آدرس ، آدرس روی نقشه و ... را در این قسمت ویرایش نمایید
							</div>
							@*<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>*@
						</div>
					</a>
				</div>
				<hr>
				@*<div class="info-item">
					<div class="i-item-header">
						<h1>آپدیت کنید خودتونو موقع کرونا وایریوس</h1>
						<a href="" class="edit-button">
							ویرایش
						</a>
					</div>
					<div class="i-item-min-header">

						<div class="item-paragraph">
							Give your customers up-to-date information about your hours, services, and
							any new updates about your business.
						</div>
						<h2>هدر دوم فلان آیتم</h2>
					</div>
					<a href="" class="i-item-content">
						<div class="item-image">
							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
								Give your customers up-to-date information about your hours, services, and
								any new updates about your business.
							</div>
							<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>
						</div>
					</a>
				</div>*@
				@*<hr>*@
				@*<div class="info-item">
					<div class="i-item-header">
						<h1>آپدیت کنید خودتونو موقع کرونا وایریوس</h1>
						<a href="" class="edit-button">
							ویرایش
						</a>
					</div>
					<a href="" class="i-item-content">
						<div class="item-image">
							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
								Give your customers up-to-date information about your hours, services, and
								any new updates about your business.
							</div>
							<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>
						</div>
					</a>
				</div>*@
				@*<hr>*@
				<div class="info-item">
					<div class="i-item-header">
						<h1>درباره این کسب و کار</h1>
					</div>
					<a href="/BusinessProfile/BusinessInformation/Specialities" class="i-item-content">
						<div class="item-image">
							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
								به مشتریان بگویید که تجارت شما به چه معناست.
							</div>
							@*<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>*@
						</div>
					</a>

					<a href="" class="i-item-content">
						<div class="item-image">
							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
								چه مدت است که در حال تجارت هستید؟ داستان تجارت و نحوه شروع کار را به مشتریان بگویید.
							</div>
							@*<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>*@
						</div>
					</a>

					<a href="" class="i-item-content">
						<div class="item-image">
							<img src="~/Designs/BusinessProfile/images/auto.png" alt="">
						</div>
						<div class="item-desc">
							<div class="item-paragraph">
								به مشتریان خود سلام و احوالپرسی کنید و به آنها بگویید چرا نسبت به کاری که انجام می دهید علاقه زیادی دارید
							</div>
							@*<div class="item-link">
								<span>برو به آپدیت کووید ۱۹</span>
								<div class="arrow">
									<svg width="16" height="16" class="icon_svg">
										<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
										</path>
									</svg>
								</div>
							</div>*@
						</div>
					</a>
					
					
				</div>
			</div>
		</div>

		<div class="home-left-content">

			<div class="left-item card">
				<div class="fs-20 fw-bold card-padding">
					اطلاعات کسب و کار
				</div>
				<div id="businessInfomapid" style="height:200px">
					
				</div>
				<div class="card-padding fs-14">
					<div class="cart-a">
						<div class="ca-content">
							<div class="ca-title">
								آدرس
							</div>
							<div class="ca-desc">
								@Model.Address
							</div>
						</div>
						<div class="ca-arrow">
							<svg width="24" height="24" class="icon_svg">
								<path d="M9.75 17.58a1 1 0 01-.7-.28 1 1 0 010-1.42l3.8-3.88L9 8.12a1 1 0 111.41-1.42L15 11.3a1 1 0 010 1.4l-4.5 4.58a1 1 0 01-.75.3z">
								</path>
							</svg>
						</div>
					</div>

					<div class="cart-a">
						<div class="ca-content">
							<div class="ca-title">
								شماره تماس
							</div>
							<div class="ca-desc">
								@Model.CallNumber
							</div>
						</div>
						<div class="ca-arrow">
							<svg width="24" height="24" class="icon_svg">
								<path d="M9.75 17.58a1 1 0 01-.7-.28 1 1 0 010-1.42l3.8-3.88L9 8.12a1 1 0 111.41-1.42L15 11.3a1 1 0 010 1.4l-4.5 4.58a1 1 0 01-.75.3z">
								</path>
							</svg>
						</div>
					</div>
					<div class="cart-a">
						<div class="ca-content">
							<div class="ca-title">
								وب سایت
							</div>
							<div class="ca-desc teal">
								<a href="@Model.WebSiteUrl">
									@Model.WebSiteUrl
								</a>

							</div>
						</div>
						<div class="ca-arrow">
							<svg width="24" height="24" class="icon_svg">
								<path d="M9.75 17.58a1 1 0 01-.7-.28 1 1 0 010-1.42l3.8-3.88L9 8.12a1 1 0 111.41-1.42L15 11.3a1 1 0 010 1.4l-4.5 4.58a1 1 0 01-.75.3z">
								</path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
	</div>
</div>

<script>
	window.onload = Load; 
	function Load() {
		BusinessHomeLoadMap(@Model.Longitude , @Model.Latitude);
	}
	function BusinessHomeLoadMap(lon, lat) {

		var theMarker = {};
		if (lon == 0 && lat == 0) {
			lon = 51.668037;
			lat = 32.650823;
		}
		var mymap = L.map('businessInfomapid').setView([lat, lon], 13);
		if (lon !== 0 && lat !== 0) {
			theMarker = L.marker([lat, lon]).addTo(mymap);
		}
		//var mymap = L.map('mapid').setView([32.650823, 51.668037], 13);
		//theMarker = L.marker([lon,lat], {icon: icon }).addTo(mymap);
		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			maxZoom: 18,
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1,
			accessToken: 'pk.eyJ1IjoiYWxpcmV6YXJhem1qb28iLCJhIjoiY2s1Yzg2aTM4MWo1bjNvcDN2dWQwbGs5byJ9.0MqeBvs7xijOfpnGE73R_A'
		}).addTo(mymap);

	}
</script>