@model PagedList.Core.IPagedList<BizApp.Areas.Admin.Models.CityViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="header-secondary row gray-bg">
    <div class="col-lg-12">
        <div class="page-heading clearfix">
            <h1 class="page-title pull-left"> شهرستان ها</h1><a class="btn btn-primary btn-sm btn-add openmodal" href="#" data-toggle="modal" data-target="#myModal">شهر جدید</a>
        </div>
        <!-- Breadcrumb -->
        <ol class="breadcrumb breadcrumb-2">
            <li><a href="#"><i class="fa fa-home"></i> خانه</a></li>
            <li class="active"><strong>شهرستان ها</strong></li>
        </ol>

    </div>
</div>

<div class="row filter-wrapper visible-box" id="filter-box">
    <div class="col-lg-12">
        <div class="filter-header">
            <h3 class="title">جستجو</h3>
        </div>
        @using (Html.BeginForm("Index", "City", FormMethod.Get))
        {
            <div class="form-inline">
                <div class="form-group">
                    <input name="searchString" placeholder="نام شهر را وارد کنید" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-default">جستجو</button>
                </div>
                <div class="form-group">
                    <a href="/admin/City/" class="btn btn-default">مشاهده همه</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="main-content">

    <div class="row">
        <div class="col-lg-12 animatedParent animateOnce z-index-50">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">شهرستان ها</h3>
                    <ul class="panel-tool-options">
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>

                    </ul>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-border table-hover dataTables-example" id="example">
                            <thead>
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        استان
                                    </th>
                                    <th>
                                        شهرستان
                                    </th>
                                    <th>
                                        عملیات
                                    </th>
                                </tr>
                                </thead>
                                @{ int rowNo = 0; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(++rowNo)
                                        </td>
                                        <td>
                                            @item.ProvinceName
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.CityId">حذف</button> |
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.CityId"> ویرایش</button>
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">

                                    <li>
                                        <pager list="@Model" asp-controller="City" asp-action="Index" asp-area="admin" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="height:auto;overflow-y:visible">
    <div class="modal-dialog modal-sm" style="width:400px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت جدید</h4>
            </div>
            <div class="modal-body" style="height:auto">
                <form id="register">
                    <input id="CityId" name="CityId" hidden />
                    <div class="form-group" style="margin-right:5px">
                        <label for="Name"> نام :</label>
                        <input display="نام" id="Name" name="Name" placeholder="نام شهرستان را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group">
                        <label for="ProvinceId">استان: </label>
                        <select class="form-control" name="ProvinceId" id="ProvinceId">
                            <option value="0">انتخاب کنید</option>

                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-success" onclick="Save();">ثبت</button>
            </div>
        </div>
    </div>
</div>

<div id="Error"></div>
<div id="Success"></div>
<div id="Question"></div>


<script>
    window.onload = Load;
    function Load() {
        CreateAllModals();
        FillComboBox("/admin/city/loadprovinces", 'ProvinceId')
        $(".openmodal").click(function () {
            clear('register', ["input"]);
        });
        $(".btn-warning").click(function () {
            EditAjax("/admin/city/GetById", this.id);
            var bodyStyle = document.body.style;
            bodyStyle.removeProperty('padding-right');
        });
        $('.pagination > li:first-child > a, .pagination > li:first-child > span').html('قبلی')
        $('.pagination>li:last-child>a, .pagination>li:last-child>span').html('بعدی')
       
        
    }
    function Save() {
        if (checkvalidity('register') === 0) {
            return;
        }
        else {
            $("#myModal").modal('toggle');
            var Parameters = [{ id: "Name", htmlname: "Name", special: "" }, { id: "CityId", htmlname: "CityId", special: "" }, { id: "ProvinceId", htmlname: "ProvinceId", special: "" }];
            PostAjax('/admin/City/CreateOrUpdate', Parameters, "/admin/City/Index");
        }
    }
    function AssignButtonClicked(elem) {
        $('#CityId').val($(elem).data('assigned-id'));
    }
    function Remove() {
        var Parameters = [{ id: "CityId", htmlname: "CityId", special: "" }];
        PostAjax('/admin/City/Remove', Parameters, "/admin/City/Index");
    }

    
</script>

