@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject DataLayer.Infrastructure.IBusinessRepo BusinessService
@inject IHttpContextAccessor httpContextAccessor
@{
	var userid = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
	var BusinessIdes = await BusinessService.GetUserBusinessesIds(userid);
	var  BusinessItem = await BusinessService.GetById(BusinessIdes.FirstOrDefault());
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>بیزآپ_اکانت کسب و کار</title>
	<link rel="stylesheet" href="~/Designs/BusinessProfile/css/styles.css">
	<link rel="stylesheet" href="~/Designs/BusinessProfile/css/swiper.min.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		  crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
	<script src="~/Designs/MainWebSite/assets/js/header-bundle.js"></script>

	<style>
		.swiper-container {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
	</style>

</head>

<body>
	<header>
		<div class="navbar-container">
			<div class="navbar">
				<div class="navbar-right">

					<div class="hamburgur">
						<svg width="24" height="24" class="icon_svg">
							<path d="M20 13H4a1 1 0 010-2h16a1 1 0 010 2zm0 6H4a1 1 0 010-2h16a1 1 0 010 2zm0-12H4a1 1 0 010-2h16a1 1 0 110 2z">
							</path>
						</svg>

					</div>
					<a href="/Home/Index">

						<img src="~/Designs/MainWebSite/Logo/bizzapplogo.jpeg" style="width:60px;height:50px" alt="">
					</a>
					<h4 class=" hide-under-768">بیزاپ برای کسب وکار</h4>
				</div>
				<div class="navbar-left">
					<div class="navbar-icons">

						<div class="navbar-icon hide-under-768">
							<svg width="24" height="24" class="icon_svg">
								<path d="M22 4a1 1 0 011 1v14a1 1 0 01-1 1H2a1 1 0 01-1-1V5a1 1 0 011-1h20zm-1 2H3v12h18V6zM4.214 7.382a1 1 0 011.404-.168L12 12.228l6.382-5.014a1 1 0 011.236 1.572l-6.382 5.015a2 2 0 01-2.472 0L4.382 8.786a1 1 0 01-.168-1.404z">
								</path>
							</svg>
						</div>
						<div class="navbar-icon">
							<svg width="24" height="24" class="icon_svg">
								<path d="M22.64 17.23A7.31 7.31 0 0120 11.59V9A8 8 0 004 9v2.59a7.31 7.31 0 01-2.64 5.64A1 1 0 002 19h6a4 4 0 008 0h6a1 1 0 00.64-1.77zM6 9a6 6 0 0112 0v2.59c.001.472.038.943.11 1.41H5.89A9.36 9.36 0 006 11.59V9zm6 12a2 2 0 01-2-2h4a2 2 0 01-2 2zm-7.72-4a9.42 9.42 0 001.08-2h13.28a9.42 9.42 0 001.08 2H4.28z">
								</path>
							</svg>
						</div>

						<div class="navbar-icon">
							<svg width="24" height="24" class="icon_svg">
								<path d="M12 1c6.075 0 11 4.925 11 11a11 11 0 01-11 11C5.925 23 1 18.075 1 12S5.925 1 12 1zm0 2a9 9 0 100 18 9 9 0 000-18zm.15 12.43a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm2.392-8.777A3.26 3.26 0 0114.47 11l-1 1.19a1.26 1.26 0 00-.3.8v.43a1 1 0 01-1.02.96 1 1 0 01-1-1V13a3.25 3.25 0 01.78-2.1l1-1.19a1.24 1.24 0 000-1.61 1.26 1.26 0 00-1.523-.335l-.117.065a1.24 1.24 0 00-.55 1 1 1 0 11-2 0 3.24 3.24 0 011.32-2.613l.17-.117a3.26 3.26 0 014.312.553z">
								</path>
							</svg>
						</div>
					</div>
					<div class="navbar-av-icon">
						<img src="~/Designs/BusinessProfile/images/avatar.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="section-container">
			<div class="sidebar-container">
				<div class="sidebar">
					<div class="sidebar-header">
						<div class="m-1100-n">
							<svg width="24" height="24" class="icon_svg">
								<path d="M12 1.039a9.25 9.25 0 016.54 15.791l-5.83 5.84A1 1 0 0112 23a1 1 0 01-.71-.29l-5.83-5.88A9.25 9.25 0 0112 1.039zm0 2.011a7.25 7.25 0 00-5.13 12.37L12 20.54l5.13-5.12A7.25 7.25 0 0012 3.05zm0 3.2a4 4 0 110 8 4 4 0 010-8zm0 2a2 2 0 100 4 2 2 0 000-4z">
								</path>
							</svg>
						</div>
						<div class="hide-in-small-1100">
							<div class="sidebar-header-title">
								@BusinessItem.Name

								<a href="" class="icon">
									<svg width="16" height="16" class="icon_svg">
										<path d="M5.82 1a1 1 0 010 2H3v10h10v-2.88a1 1 0 012 0V14a1 1 0 01-1 1H2a1 1 0 01-1-1V2a1 1 0 011-1h3.82zm8.68 0a.5.5 0 01.5.47v4a.5.5 0 01-.31.53.63.63 0 01-.19 0 .5.5 0 01-.35-.12l-1.27-1.27L9.49 8a1.018 1.018 0 01-1.41-1.47l3.36-3.38-1.3-1.3a.51.51 0 01-.11-.54.5.5 0 01.47-.31z">
										</path>
									</svg>
								</a>
							</div>
							<div class="sidebar-header-section">
								@BusinessItem.District.City.Name
								@BusinessItem.District.City.Province.Name
								@BusinessItem.District.Name
							</div>
							<a href="" class="sidebar-header-footer">
								<svg width="16" height="16" class="icon_svg">
									<path d="M12.5 7H9V3.5a1 1 0 10-2 0V7H3.5a1 1 0 000 2H7v3.5a1 1 0 102 0V9h3.5a1 1 0 100-2z">
									</path>
								</svg>
								<span>افزودن مکان</span>
							</a>
						</div>
					</div>
					<div class="sidebar-content">
						<ul>
							<a href="/BusinessProfile/ManageBusinessAccount/Index">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22.65,9.99999999 L22,9.46999999 L22,2.99999996 C22,2.44771521 21.5522848,1.99999996 21,1.99999996 L17,1.99999996 C16.4477153,1.99999996 16,2.44771521 16,2.99999996 L16,4.32999997 L12.65,1.45999996 C12.275776,1.13991223 11.724224,1.13991223 11.35,1.45999996 L1.34999996,9.99999999 C1.01521722,10.2683239 0.888904377,10.7203041 1.03607181,11.1233165 C1.18323924,11.5263288 1.57108757,11.7905535 1.99999996,11.78 L1.99999996,22 C1.99999996,22.5522848 2.44771521,23 2.99999996,23 L21,23 C21.5522848,23 22,22.5522848 22,22 L22,11.79 C22.4342653,11.8064339 22.8294325,11.5405151 22.9777626,11.1320367 C23.1260927,10.7235583 22.993626,10.2660406 22.65,9.99999999 Z M18,5.99999997 L18,3.99999997 L20,3.99999997 L20,7.75999998 L18,5.99999997 C18,5.99999997 18,5.99999997 18,5.99999997 Z M14,21 L9.99999999,21 L9.99999999,15 L14,15 L14,21 Z M16,21 L16,14 C16,13.4477153 15.5522848,13 15,13 L8.99999999,13 C8.44771524,13 7.99999998,13.4477153 7.99999998,14 L7.99999998,21 L3.99999997,21 L3.99999997,10.39 L12,3.52999996 L20,10.39 L20,21 L16,21 Z">
										</path>
									</svg>
								</div>
								<li>خانه</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M23,11.5 C22.9940929,9.68084301 21.761403,8.09478204 20,7.63999998 L20,1.99999996 C19.9990657,1.64933128 19.8145182,1.32477407 19.5136407,1.14465697 C19.2127633,0.964539874 18.8395239,0.955183846 18.53,1.11999995 L7.37999998,6.99999998 L3.99999995,6.99999998 C2.34314571,6.99999998 0.999999954,8.34314574 0.999999954,9.99999999 L0.999999954,13 C0.999999954,14.6568543 2.34314571,16 3.99999995,16 L3.99999995,19.5 C3.99999995,21.4329967 5.56700335,23 7.49999995,23 C9.43299661,23 11,21.4329967 11,19.5 L11,17.91 L18.53,21.91 C18.6770739,21.977596 18.8383584,22.0084802 19,22 C19.1824342,21.998428 19.3614366,21.950235 19.52,21.86 C19.8198615,21.6774583 20.0020444,21.3510473 20,21 L20,15.36 C21.761403,14.905218 22.9940929,13.319157 23,11.5 Z M2.99999996,13 L2.99999996,9.99999999 C2.99999996,9.44771524 3.44771521,8.99999999 3.99999996,8.99999999 L5.99999996,8.99999999 L5.99999996,14 L3.99999996,14 C3.44771521,14 2.99999996,13.5522848 2.99999996,13 Z M8.99999998,19.5 C8.99999998,20.3284272 8.32842711,21 7.49999998,21 C6.67157285,21 5.99999998,20.3284272 5.99999998,19.5 L5.99999998,16 L7.37999998,16 L8.99999998,16.85 L8.99999998,19.5 Z M18,19.34 L7.99999998,14.06 L7.99999998,8.93999999 L18,3.65999997 L18,19.34 Z M20,13.22 L20,9.77999999 C20.607173,10.1402753 20.979412,10.7939849 20.979412,11.5 C20.979412,12.2060151 20.607173,12.8597247 20,13.22 Z">
										</path>
									</svg>
								</div>
								<li>تبلیغات بیزاپ</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M11.4,1.19999996 C11.7555556,0.933333287 12.2444444,0.933333287 12.6,1.19999996 C16.2175818,4.06620851 18.3813285,8.38637962 18.51,13 C21.2497991,14.2510348 23.0054292,16.9880974 23.0000126,20 C23.0000126,20.5522848 22.5522848,21 22,21 L22,21 L17,21 C16.7790644,21.5155405 16.5320794,22.0195234 16.26,22.51 C16.0799357,22.8136995 15.7530673,23 15.4,23 L15.4,23 L8.63999999,23 C8.28693269,23 7.9600643,22.8136995 7.77999998,22.51 C7.4943257,22.0203492 7.23398293,21.5163523 6.99999995,21 L6.99999995,21 L1.99999995,21 C1.44771521,21 0.999999954,20.5522848 0.999999954,20 C1.00659956,17.0039804 2.7615197,14.2875673 5.48999997,13.05 C5.60399886,8.41871974 7.76919811,4.07733038 11.4,1.19999996 Z M12,3.27999996 C9.01230782,5.99576056 7.3488572,9.87349741 7.43999998,13.91 C7.4279914,16.3829144 8.03291174,18.819781 9.19999999,21 L9.19999999,21 L14.8,21 C15.9670883,18.819781 16.5720086,16.3829144 16.56,13.91 C16.6511428,9.87349741 14.9876922,5.99576056 12,3.27999996 Z M5.50999997,15.3 C4.23508238,16.1542514 3.36169906,17.4895895 3.08999996,19 L3.08999996,19 L6.20999998,19 C5.84449254,17.7953782 5.60980553,16.5548897 5.50999997,15.3 Z M18.5,15.3 C18.4001945,16.5548897 18.1655075,17.7953782 17.8,19 L17.8,19 L20.91,19 C20.6407338,17.4912471 19.7711378,16.1561827 18.5,15.3 Z M13.2237467,8.84492433 C14.4319431,9.34427536 15.22,10.5226783 15.22,11.83 C15.22,13.6099818 13.7799733,15.0544892 12,15.0600156 C10.6926845,15.0640474 9.51184373,14.2796546 9.00874876,13.0730123 C8.50565379,11.8663701 8.77952508,10.4754525 9.70250682,9.54960432 C10.6254886,8.62375618 12.0155503,8.34557329 13.2237467,8.84492433 Z M12,10.61 C11.5007145,10.605957 11.0485241,10.9041447 10.8555835,11.3646621 C10.6626429,11.8251795 10.7672393,12.3566413 11.120299,12.709701 C11.4733587,13.0627607 12.0048205,13.1673571 12.4653379,12.9744165 C12.9258553,12.7814759 13.224043,12.3292855 13.22,11.83 C13.22,11.1562126 12.6737874,10.61 12,10.61 Z">
										</path>
									</svg>
								</div>
								<li>ارتقا صفحه</li>
							</a>


							<a href="/BusinessProfile/BusinessInformation/Index">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22.93,11.63 L21,6.80999998 L21,2.99999996 C21,2.44771521 20.5522848,1.99999996 20,1.99999996 L3.99999997,1.99999996 C3.44771521,1.99999996 2.99999996,2.44771521 2.99999996,2.99999996 L2.99999996,6.80999998 L1.06999995,11.63 C0.94725959,11.9381879 0.985339956,12.287184 1.17165598,12.5616496 C1.35797199,12.8361151 1.66826982,13.0003213 1.99999996,13 L2.99999996,13 L2.99999996,22 C2.99999996,22.5522848 3.44771521,23 3.99999997,23 L20,23 C20.5522848,23 21,22.5522848 21,22 L21,13 L22,13 C22.3317302,13.0003213 22.642028,12.8361151 22.828344,12.5616496 C23.01466,12.287184 23.0527404,11.9381879 22.93,11.63 Z M3.47999996,11 L4.67999997,7.99999998 L19.32,7.99999998 L20.52,11 L3.47999996,11 Z M19,3.99999997 L19,5.99999997 L4.99999997,5.99999997 L4.99999997,3.99999997 L19,3.99999997 Z M14,21 L9.99999999,21 L9.99999999,17 L14,17 L14,21 Z M19,21 L16,21 L16,16 C16,15.4477153 15.5522848,15 15,15 L8.99999997,15 C8.44771524,15 7.99999998,15.4477153 7.99999997,16 L7.99999997,21 L4.99999997,21 L4.99999997,13 L19,13 L19,21 Z">
										</path>
									</svg>
								</div>
								<li>اطلاعات کسب و کار</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<g id="24x24_review_v2">
											<path id="24x24_review_v2_2" fill-rule="evenodd" clip-rule="evenodd"
												  d="M21.5355 21.5355C20.5979 22.4732 19.3261 23 18 23H6C4.67392 23 3.40215 22.4732 2.46447 21.5355C1.52678 20.5979 1 19.3261 1 18V6C1 3.23858 3.23858 1 6 1H18C19.3261 1 20.5979 1.52678 21.5355 2.46447C22.4732 3.40215 23 4.67392 23 6V18C23 19.3261 22.4732 20.5979 21.5355 21.5355ZM6 3C4.34315 3 3 4.34315 3 6V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V6C21 4.34315 19.6569 3 18 3H6ZM16.82 10.22C17.0097 10.2473 17.1681 10.3786 17.23 10.56C17.306 10.7556 17.2544 10.9779 17.1 11.12L14.91 13.25L15.43 16.25C15.4599 16.4379 15.3828 16.6267 15.23 16.74C15.0686 16.8438 14.8614 16.8438 14.7 16.74L12 15.32L9.3 16.73C9.13072 16.8217 8.92381 16.8081 8.768 16.695C8.6122 16.5819 8.53519 16.3894 8.57 16.2L9.09 13.2L6.92 11.07C6.78552 10.9372 6.73549 10.741 6.79 10.56C6.85193 10.3786 7.01031 10.2473 7.2 10.22L10.2 9.78L11.55 7C11.643 6.83944 11.8145 6.74058 12 6.74058C12.1855 6.74058 12.357 6.83944 12.45 7L13.82 9.78L16.82 10.22Z">
											</path>
										</g>
									</svg>
								</div>
								<li>نظرات</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M18 1H6C4.6744 1.00156 3.40353 1.52884 2.46618 2.46618C1.52884 3.40353 1.00156 4.6744 1 6V18C1.00156 19.3256 1.52884 20.5965 2.46618 21.5338C3.40353 22.4712 4.6744 22.9984 6 23H18C19.3256 22.9984 20.5965 22.4712 21.5338 21.5338C22.4712 20.5965 22.9984 19.3256 23 18V6C22.9984 4.6744 22.4712 3.40353 21.5338 2.46618C20.5965 1.52884 19.3256 1.00156 18 1V1ZM3 6C3.00087 5.20462 3.31722 4.44206 3.87964 3.87964C4.44206 3.31722 5.20462 3.00087 6 3H18C18.7954 3.00087 19.5579 3.31722 20.1204 3.87964C20.6828 4.44206 20.9991 5.20462 21 6V14.4055L18.542 12.456C17.4058 11.5507 15.9851 11.0782 14.533 11.1227C13.0809 11.1672 11.6918 11.7259 10.6133 12.6992L3.29469 19.2744C3.10283 18.8768 3.00215 18.4414 3 18V6ZM18 21H6C5.55115 20.9975 5.10872 20.8931 4.70605 20.6948L11.9492 14.1875C12.6767 13.5301 13.6142 13.1527 14.5942 13.1225C15.5743 13.0922 16.5332 13.4112 17.2998 14.0225L21 16.9573V18C20.9991 18.7954 20.6828 19.5579 20.1204 20.1204C19.5579 20.6828 18.7954 20.9991 18 21Z">
										</path>
										<path d="M7.53516 11.0996C8.1285 11.0996 8.70852 10.9237 9.20187 10.594C9.69521 10.2644 10.0797 9.79584 10.3068 9.24766C10.5339 8.69948 10.5933 8.09628 10.4775 7.51434C10.3618 6.9324 10.076 6.39785 9.65648 5.97829C9.23692 5.55873 8.70237 5.27301 8.12043 5.15725C7.53848 5.0415 6.93528 5.10091 6.38711 5.32797C5.83893 5.55504 5.37039 5.93955 5.04075 6.4329C4.7111 6.92625 4.53516 7.50627 4.53516 8.09961C4.53602 8.89499 4.85237 9.65755 5.41479 10.22C5.97722 10.7824 6.73977 11.0987 7.53516 11.0996ZM7.53516 7.09961C7.73294 7.09961 7.92628 7.15826 8.09073 7.26814C8.25518 7.37802 8.38335 7.5342 8.45904 7.71693C8.53472 7.89965 8.55453 8.10072 8.51594 8.2947C8.47736 8.48868 8.38212 8.66687 8.24226 8.80672C8.10241 8.94657 7.92423 9.04181 7.73025 9.0804C7.53627 9.11898 7.3352 9.09918 7.15247 9.02349C6.96975 8.9478 6.81357 8.81963 6.70369 8.65518C6.59381 8.49073 6.53516 8.29739 6.53516 8.09961C6.53534 7.83445 6.64075 7.5802 6.82825 7.3927C7.01575 7.20521 7.27 7.09979 7.53516 7.09961V7.09961Z">
										</path>
									</svg>
								</div>
								<li>تصاویر و ویدئو ها</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22,4 C22.5522847,4 23,4.44771525 23,5 L23,19 C23,19.5522847 22.5522847,20 22,20 L2,20 C1.44771525,20 1,19.5522847 1,19 L1,5 C1,4.44771525 1.44771525,4 2,4 L22,4 Z M21,6 L3,6 L3,18 L21,18 L21,6 Z M4.21368166,7.38217845 C4.55489508,6.94790682 5.18354992,6.87246824 5.61782155,7.21368166 L12,12.2282504 L18.3821784,7.21368166 C18.8164501,6.87246824 19.4451049,6.94790682 19.7863183,7.38217845 C20.1275318,7.81645008 20.0520932,8.44510492 19.6178216,8.78631834 L13.2356431,13.8008871 C12.5104205,14.3707049 11.4895795,14.3707049 10.7643569,13.8008871 L4.38217845,8.78631834 C3.94790682,8.44510492 3.87246824,7.81645008 4.21368166,7.38217845 Z">
										</path>
									</svg>
								</div>
								<li>صندوق ورودی</li>
							</a>
							<a href="/BusinessProfile/BusinessProfileLogin/ExitFromBusinessProfile">
								<div class="list-icon">

									<svg width="24" height="24" class="icon_svg"><path d="M15 2a1 1 0 110 2H4v16h11a1 1 0 110 2H3a1 1 0 01-1-1V3a1 1 0 011-1h12zm1.09 4.72a1 1 0 011.41 0L22 11.3a1 1 0 010 1.4l-4.59 4.58a1 1 0 01-1.41.02 1 1 0 010-1.42L18.87 13H7a1 1 0 110-2h11.87l-2.78-2.86a1 1 0 010-1.42z"></path></svg>
								</div>
								<li>خروج</li>



							</a>
						</ul>
					</div>
				</div>
			</div>
			@RenderBody()
		</div>
	</section>
	<footer>
		<div class="mobile-menu">
			<div class="sidebar-container">
				<div class="sidebar">
					<div class="sidebar-header">
						<div class="hide-in-small-1100">
							<div class="sidebar-header-title">
								اکو سولوشن
								<a href="" class="icon">
									<svg width="16" height="16" class="icon_svg">
										<path d="M5.82 1a1 1 0 010 2H3v10h10v-2.88a1 1 0 012 0V14a1 1 0 01-1 1H2a1 1 0 01-1-1V2a1 1 0 011-1h3.82zm8.68 0a.5.5 0 01.5.47v4a.5.5 0 01-.31.53.63.63 0 01-.19 0 .5.5 0 01-.35-.12l-1.27-1.27L9.49 8a1.018 1.018 0 01-1.41-1.47l3.36-3.38-1.3-1.3a.51.51 0 01-.11-.54.5.5 0 01.47-.31z">
										</path>
									</svg>
								</a>
							</div>
							<div class="sidebar-header-section">
								خیابان پنجم بین دوراهی و سه راهی کوچه فلان
							</div>
							<a href="" class="sidebar-header-footer">
								<svg width="16" height="16" class="icon_svg">
									<path d="M12.5 7H9V3.5a1 1 0 10-2 0V7H3.5a1 1 0 000 2H7v3.5a1 1 0 102 0V9h3.5a1 1 0 100-2z">
									</path>
								</svg>
								<span>افزودن مکان</span>
							</a>
						</div>
					</div>
					<div class="sidebar-content">
						<ul>
							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22.65,9.99999999 L22,9.46999999 L22,2.99999996 C22,2.44771521 21.5522848,1.99999996 21,1.99999996 L17,1.99999996 C16.4477153,1.99999996 16,2.44771521 16,2.99999996 L16,4.32999997 L12.65,1.45999996 C12.275776,1.13991223 11.724224,1.13991223 11.35,1.45999996 L1.34999996,9.99999999 C1.01521722,10.2683239 0.888904377,10.7203041 1.03607181,11.1233165 C1.18323924,11.5263288 1.57108757,11.7905535 1.99999996,11.78 L1.99999996,22 C1.99999996,22.5522848 2.44771521,23 2.99999996,23 L21,23 C21.5522848,23 22,22.5522848 22,22 L22,11.79 C22.4342653,11.8064339 22.8294325,11.5405151 22.9777626,11.1320367 C23.1260927,10.7235583 22.993626,10.2660406 22.65,9.99999999 Z M18,5.99999997 L18,3.99999997 L20,3.99999997 L20,7.75999998 L18,5.99999997 C18,5.99999997 18,5.99999997 18,5.99999997 Z M14,21 L9.99999999,21 L9.99999999,15 L14,15 L14,21 Z M16,21 L16,14 C16,13.4477153 15.5522848,13 15,13 L8.99999999,13 C8.44771524,13 7.99999998,13.4477153 7.99999998,14 L7.99999998,21 L3.99999997,21 L3.99999997,10.39 L12,3.52999996 L20,10.39 L20,21 L16,21 Z">
										</path>
									</svg>
								</div>
								<li>خانه</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M23,11.5 C22.9940929,9.68084301 21.761403,8.09478204 20,7.63999998 L20,1.99999996 C19.9990657,1.64933128 19.8145182,1.32477407 19.5136407,1.14465697 C19.2127633,0.964539874 18.8395239,0.955183846 18.53,1.11999995 L7.37999998,6.99999998 L3.99999995,6.99999998 C2.34314571,6.99999998 0.999999954,8.34314574 0.999999954,9.99999999 L0.999999954,13 C0.999999954,14.6568543 2.34314571,16 3.99999995,16 L3.99999995,19.5 C3.99999995,21.4329967 5.56700335,23 7.49999995,23 C9.43299661,23 11,21.4329967 11,19.5 L11,17.91 L18.53,21.91 C18.6770739,21.977596 18.8383584,22.0084802 19,22 C19.1824342,21.998428 19.3614366,21.950235 19.52,21.86 C19.8198615,21.6774583 20.0020444,21.3510473 20,21 L20,15.36 C21.761403,14.905218 22.9940929,13.319157 23,11.5 Z M2.99999996,13 L2.99999996,9.99999999 C2.99999996,9.44771524 3.44771521,8.99999999 3.99999996,8.99999999 L5.99999996,8.99999999 L5.99999996,14 L3.99999996,14 C3.44771521,14 2.99999996,13.5522848 2.99999996,13 Z M8.99999998,19.5 C8.99999998,20.3284272 8.32842711,21 7.49999998,21 C6.67157285,21 5.99999998,20.3284272 5.99999998,19.5 L5.99999998,16 L7.37999998,16 L8.99999998,16.85 L8.99999998,19.5 Z M18,19.34 L7.99999998,14.06 L7.99999998,8.93999999 L18,3.65999997 L18,19.34 Z M20,13.22 L20,9.77999999 C20.607173,10.1402753 20.979412,10.7939849 20.979412,11.5 C20.979412,12.2060151 20.607173,12.8597247 20,13.22 Z">
										</path>
									</svg>
								</div>
								<li>تبلیغات بیزاپ</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M11.4,1.19999996 C11.7555556,0.933333287 12.2444444,0.933333287 12.6,1.19999996 C16.2175818,4.06620851 18.3813285,8.38637962 18.51,13 C21.2497991,14.2510348 23.0054292,16.9880974 23.0000126,20 C23.0000126,20.5522848 22.5522848,21 22,21 L22,21 L17,21 C16.7790644,21.5155405 16.5320794,22.0195234 16.26,22.51 C16.0799357,22.8136995 15.7530673,23 15.4,23 L15.4,23 L8.63999999,23 C8.28693269,23 7.9600643,22.8136995 7.77999998,22.51 C7.4943257,22.0203492 7.23398293,21.5163523 6.99999995,21 L6.99999995,21 L1.99999995,21 C1.44771521,21 0.999999954,20.5522848 0.999999954,20 C1.00659956,17.0039804 2.7615197,14.2875673 5.48999997,13.05 C5.60399886,8.41871974 7.76919811,4.07733038 11.4,1.19999996 Z M12,3.27999996 C9.01230782,5.99576056 7.3488572,9.87349741 7.43999998,13.91 C7.4279914,16.3829144 8.03291174,18.819781 9.19999999,21 L9.19999999,21 L14.8,21 C15.9670883,18.819781 16.5720086,16.3829144 16.56,13.91 C16.6511428,9.87349741 14.9876922,5.99576056 12,3.27999996 Z M5.50999997,15.3 C4.23508238,16.1542514 3.36169906,17.4895895 3.08999996,19 L3.08999996,19 L6.20999998,19 C5.84449254,17.7953782 5.60980553,16.5548897 5.50999997,15.3 Z M18.5,15.3 C18.4001945,16.5548897 18.1655075,17.7953782 17.8,19 L17.8,19 L20.91,19 C20.6407338,17.4912471 19.7711378,16.1561827 18.5,15.3 Z M13.2237467,8.84492433 C14.4319431,9.34427536 15.22,10.5226783 15.22,11.83 C15.22,13.6099818 13.7799733,15.0544892 12,15.0600156 C10.6926845,15.0640474 9.51184373,14.2796546 9.00874876,13.0730123 C8.50565379,11.8663701 8.77952508,10.4754525 9.70250682,9.54960432 C10.6254886,8.62375618 12.0155503,8.34557329 13.2237467,8.84492433 Z M12,10.61 C11.5007145,10.605957 11.0485241,10.9041447 10.8555835,11.3646621 C10.6626429,11.8251795 10.7672393,12.3566413 11.120299,12.709701 C11.4733587,13.0627607 12.0048205,13.1673571 12.4653379,12.9744165 C12.9258553,12.7814759 13.224043,12.3292855 13.22,11.83 C13.22,11.1562126 12.6737874,10.61 12,10.61 Z">
										</path>
									</svg>
								</div>
								<li>ارتقا صفحه</li>
							</a>
							<a href="/BusinessProfile/BusinessInformation/Index">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22.93,11.63 L21,6.80999998 L21,2.99999996 C21,2.44771521 20.5522848,1.99999996 20,1.99999996 L3.99999997,1.99999996 C3.44771521,1.99999996 2.99999996,2.44771521 2.99999996,2.99999996 L2.99999996,6.80999998 L1.06999995,11.63 C0.94725959,11.9381879 0.985339956,12.287184 1.17165598,12.5616496 C1.35797199,12.8361151 1.66826982,13.0003213 1.99999996,13 L2.99999996,13 L2.99999996,22 C2.99999996,22.5522848 3.44771521,23 3.99999997,23 L20,23 C20.5522848,23 21,22.5522848 21,22 L21,13 L22,13 C22.3317302,13.0003213 22.642028,12.8361151 22.828344,12.5616496 C23.01466,12.287184 23.0527404,11.9381879 22.93,11.63 Z M3.47999996,11 L4.67999997,7.99999998 L19.32,7.99999998 L20.52,11 L3.47999996,11 Z M19,3.99999997 L19,5.99999997 L4.99999997,5.99999997 L4.99999997,3.99999997 L19,3.99999997 Z M14,21 L9.99999999,21 L9.99999999,17 L14,17 L14,21 Z M19,21 L16,21 L16,16 C16,15.4477153 15.5522848,15 15,15 L8.99999997,15 C8.44771524,15 7.99999998,15.4477153 7.99999997,16 L7.99999997,21 L4.99999997,21 L4.99999997,13 L19,13 L19,21 Z">
										</path>
									</svg>
								</div>
								<li>اطلاعات کسب و کار</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<g id="24x24_review_v2">
											<path id="24x24_review_v2_2" fill-rule="evenodd" clip-rule="evenodd"
												  d="M21.5355 21.5355C20.5979 22.4732 19.3261 23 18 23H6C4.67392 23 3.40215 22.4732 2.46447 21.5355C1.52678 20.5979 1 19.3261 1 18V6C1 3.23858 3.23858 1 6 1H18C19.3261 1 20.5979 1.52678 21.5355 2.46447C22.4732 3.40215 23 4.67392 23 6V18C23 19.3261 22.4732 20.5979 21.5355 21.5355ZM6 3C4.34315 3 3 4.34315 3 6V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V6C21 4.34315 19.6569 3 18 3H6ZM16.82 10.22C17.0097 10.2473 17.1681 10.3786 17.23 10.56C17.306 10.7556 17.2544 10.9779 17.1 11.12L14.91 13.25L15.43 16.25C15.4599 16.4379 15.3828 16.6267 15.23 16.74C15.0686 16.8438 14.8614 16.8438 14.7 16.74L12 15.32L9.3 16.73C9.13072 16.8217 8.92381 16.8081 8.768 16.695C8.6122 16.5819 8.53519 16.3894 8.57 16.2L9.09 13.2L6.92 11.07C6.78552 10.9372 6.73549 10.741 6.79 10.56C6.85193 10.3786 7.01031 10.2473 7.2 10.22L10.2 9.78L11.55 7C11.643 6.83944 11.8145 6.74058 12 6.74058C12.1855 6.74058 12.357 6.83944 12.45 7L13.82 9.78L16.82 10.22Z">
											</path>
										</g>
									</svg>
								</div>
								<li>نظرات</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M18 1H6C4.6744 1.00156 3.40353 1.52884 2.46618 2.46618C1.52884 3.40353 1.00156 4.6744 1 6V18C1.00156 19.3256 1.52884 20.5965 2.46618 21.5338C3.40353 22.4712 4.6744 22.9984 6 23H18C19.3256 22.9984 20.5965 22.4712 21.5338 21.5338C22.4712 20.5965 22.9984 19.3256 23 18V6C22.9984 4.6744 22.4712 3.40353 21.5338 2.46618C20.5965 1.52884 19.3256 1.00156 18 1V1ZM3 6C3.00087 5.20462 3.31722 4.44206 3.87964 3.87964C4.44206 3.31722 5.20462 3.00087 6 3H18C18.7954 3.00087 19.5579 3.31722 20.1204 3.87964C20.6828 4.44206 20.9991 5.20462 21 6V14.4055L18.542 12.456C17.4058 11.5507 15.9851 11.0782 14.533 11.1227C13.0809 11.1672 11.6918 11.7259 10.6133 12.6992L3.29469 19.2744C3.10283 18.8768 3.00215 18.4414 3 18V6ZM18 21H6C5.55115 20.9975 5.10872 20.8931 4.70605 20.6948L11.9492 14.1875C12.6767 13.5301 13.6142 13.1527 14.5942 13.1225C15.5743 13.0922 16.5332 13.4112 17.2998 14.0225L21 16.9573V18C20.9991 18.7954 20.6828 19.5579 20.1204 20.1204C19.5579 20.6828 18.7954 20.9991 18 21Z">
										</path>
										<path d="M7.53516 11.0996C8.1285 11.0996 8.70852 10.9237 9.20187 10.594C9.69521 10.2644 10.0797 9.79584 10.3068 9.24766C10.5339 8.69948 10.5933 8.09628 10.4775 7.51434C10.3618 6.9324 10.076 6.39785 9.65648 5.97829C9.23692 5.55873 8.70237 5.27301 8.12043 5.15725C7.53848 5.0415 6.93528 5.10091 6.38711 5.32797C5.83893 5.55504 5.37039 5.93955 5.04075 6.4329C4.7111 6.92625 4.53516 7.50627 4.53516 8.09961C4.53602 8.89499 4.85237 9.65755 5.41479 10.22C5.97722 10.7824 6.73977 11.0987 7.53516 11.0996ZM7.53516 7.09961C7.73294 7.09961 7.92628 7.15826 8.09073 7.26814C8.25518 7.37802 8.38335 7.5342 8.45904 7.71693C8.53472 7.89965 8.55453 8.10072 8.51594 8.2947C8.47736 8.48868 8.38212 8.66687 8.24226 8.80672C8.10241 8.94657 7.92423 9.04181 7.73025 9.0804C7.53627 9.11898 7.3352 9.09918 7.15247 9.02349C6.96975 8.9478 6.81357 8.81963 6.70369 8.65518C6.59381 8.49073 6.53516 8.29739 6.53516 8.09961C6.53534 7.83445 6.64075 7.5802 6.82825 7.3927C7.01575 7.20521 7.27 7.09979 7.53516 7.09961V7.09961Z">
										</path>
									</svg>
								</div>
								<li>تصاویر و ویدئو ها</li>
							</a>

							<a href="">
								<div class="list-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" class="icon_svg">
										<path d="M22,4 C22.5522847,4 23,4.44771525 23,5 L23,19 C23,19.5522847 22.5522847,20 22,20 L2,20 C1.44771525,20 1,19.5522847 1,19 L1,5 C1,4.44771525 1.44771525,4 2,4 L22,4 Z M21,6 L3,6 L3,18 L21,18 L21,6 Z M4.21368166,7.38217845 C4.55489508,6.94790682 5.18354992,6.87246824 5.61782155,7.21368166 L12,12.2282504 L18.3821784,7.21368166 C18.8164501,6.87246824 19.4451049,6.94790682 19.7863183,7.38217845 C20.1275318,7.81645008 20.0520932,8.44510492 19.6178216,8.78631834 L13.2356431,13.8008871 C12.5104205,14.3707049 11.4895795,14.3707049 10.7643569,13.8008871 L4.38217845,8.78631834 C3.94790682,8.44510492 3.87246824,7.81645008 4.21368166,7.38217845 Z">
										</path>
									</svg>
								</div>
								<li>صندوق ورودی</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="~/Designs/BusinessProfile/js/swiper-items.js" defer></script>
	<script src="~/Designs/BusinessProfile/js/swiper.min.js"></script>
	<script src="~/Designs/BusinessProfile/js/main.js"></script>
</body>
</html>