@model IEnumerable<BizApp.Models.Basic.MainPage_RecentActivity>

@foreach (var item in Model)
{
	if (item.ActivityType == BizApp.Models.Basic.ActivityType.WriteReview)
	{
		<div class="recent-activities__col">
			<div class="recent-activities__item1">
				<div class="recent-activities__item1__title">
					<div class="recent-activities__item1__title__image">
						@{
							if (string.IsNullOrEmpty(item.MainPage_RecentActivityCreator.Image))
							{

								<a href="#"><img src="~/Upload/DefaultPicutres/User/66-660853_png-file-svg-business-person-icon-png-clipart.jpg" style="width:98%;margin-right:2px"></a>
							}
							else
							{
								<a href="#"><img src="@item.MainPage_RecentActivityCreator.Image"></a>
							}
						}

					</div>
					<div class="recent-activities__item1__title__text">
						<a href="#">@item.MainPage_RecentActivityCreator.Name</a>
						<span>یک نظر ثبت کرد </span>

					</div>
				</div>
				<div class="recent-activities__item1__content">
					<div class="recent-activities__item1__content__image">
						@{
							if (string.IsNullOrEmpty(item.MainPage_RecentActivityContent.Image))
							{

								<a href="#"><img src="~/Upload/DefaultPicutres/Bussiness/Business.jpg" style="width:98%;margin-right:2px"></a>
							}
							else
							{
								<a href="#"><img src="~/Upload/DefaultPicutres/Bussiness/Business.jpg" style="width:98%;margin-right:2px"></a>

								@*<a href="#"><img src="@item.MainPage_RecentActivityContent.Image"></a>*@

							}
						}

					</div>
					<div class="recent-activities__item1__content__title1">
						<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.BusinessId"> <span>@item.MainPage_RecentActivityContent.Name</span></a>
						<div class="recent-activities__item1__content__title1__popover">
							<div class="recent-activities__item2__content__title__popover__image">
								<a href="#"><img src="~/Upload/DefaultPicutres/Bussiness/Business.jpg"></a>
								@*<a href="#"><img src="@item.MainPage_RecentActivityContent.Image"></a>*@
							</div>
							<div class="recent-activities__item1__content__title1__popover__text">
								<div class="recent-activities__item1__content__title1__popover__text__title">
									<a href="#"> <span>@item.MainPage_RecentActivityContent.Name</span></a>
								</div>

								<div class="recent-activities__item1__content__title1__popover__text__desc">
									<span>توضیحات کسب و کار</span>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="recent-activities__item1__comment">
					<div class="recent-activities__item1__comment__icon-star">
						<div class="recent-activities__item1__comment__icon-star__star" data-star="@item.MainPage_RecentActivityContent.Rate">
						</div>
					</div>
					<div class="recent-activities__item1__comment__paragraph">
						<p>@item.MainPage_RecentActivityContent.Text  </p>
						<a href="#">ادامه مطلب</a>
					</div>
				</div>
				<div class="recent-activities__item1__icon">

					<div class="recent-activities__item1__icon__left">
						<span>@item.MainPage_RecentActivityContent.UseFulCount</span> <a href="#" data-toggle="tooltip" title="مفید بود!" onclick="changeUsefull(this);" data-assigned-id="@item.MainPage_RecentActivityContent.Id">
							<svg id="24x24_cool_outline" height="24" viewBox="0 0 24 24" width="24">
								<path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-19c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9zm7.994 6.765C19.647 11.612 17.97 13 15.96 13h-.002c-1.617 0-3.028-.9-3.67-2.224a.32.32 0 0 0-.575 0C11.07 12.1 9.66 13 8.043 13H8.04c-2.01 0-3.74-1.15-4.035-3.018l-.124-.734c-.07-.305.257-.25.634-.248h14.972c.39 0 .673-.04.632.248l-.124.517zM17 15.143a5.405 5.405 0 0 1-5 3.357 5.405 5.405 0 0 1-5-3.357 8.6 8.6 0 0 0 5 1.6 8.6 8.6 0 0 0 5-1.6z"></path>
							</svg>
						
						</a>
						<a href="#" data-toggle="tooltip" title="جالب بود!" >
							<span  >@item.MainPage_RecentActivityContent.FunnyCount</span> <svg data-assigned-id="@item.MainPage_RecentActivityContent.Id" onclick="changeFunny(this)" id="24x24_funny_outline" height="24" viewBox="0 0 24 24" width="24">
								<path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-19c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9zm0 15a5.5 5.5 0 0 1-5.288-4h10.576A5.5 5.5 0 0 1 12 18zm3.5-7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
							</svg>
						</a>
						<a href="#" data-toggle="tooltip" title="جذاب بود!">
							<span>@item.MainPage_RecentActivityContent.CoolCount</span><svg data-assigned-id="@item.MainPage_RecentActivityContent.Id" onclick="changeCool(this)" id="24x24_useful_outline" height="24" viewBox="0 0 24 24" width="24">
								<path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-19c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9zm2 10.704V15h-4v-1.296c-1.35-.72-2.278-2.124-2.278-3.76a4.278 4.278 0 0 1 8.556 0c0 1.636-.93 3.04-2.278 3.76zM11 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 6.5a2 2 0 0 1-4 0V16h4v.5z"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

	}

	if (item.ActivityType == BizApp.Models.Basic.ActivityType.AddPhoto)
	{

		if (item.MainPage_RecentActivityUserMediaBusinesses.Count == 1)
		{
							
			<div class="recent-activities__col" >
				<div class="recent-activities__item2">
					<div class="recent-activities__item2__title" >
						<div class="recent-activities__item2__title__image">
							<a href="#" onclick="ShowModal()"> <img src="@item.MainPage_RecentActivityCreator.Image"></a>
						</div>
						<div class="recent-activities__item2__title__text">
							<a href="#">@item.MainPage_RecentActivityCreator.Name</a>
							<span>یک عکس اضافه کرد</span>
						</div>
					</div>
					<div class="recent-activities__item2__content">
						<div class="recent-activities__item2__content__title">
							<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.BusinessId"> <span>@item.MainPage_RecentActivityContent.Name</span></a>
							<div class="recent-activities__item2__content__title__popover" >
								<div class="recent-activities__item2__content__title__popover__image">
									<a href="#"><img src="@item.MainPage_RecentActivityContent.Image"></a>
								</div>
								<div class="recent-activities__item2__content__title__popover__text">
									<div class="recent-activities__item2__content__title__popover__text__title">
										<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.Id">@item.MainPage_RecentActivityContent.Name</a>
									</div>
									<div class="recent-activities__item2__content__title__popover__text__star">
										<div class="recent-activities__item2__content__title__popover__text__star__icon" data-star="@item.MainPage_RecentActivityContent.Rate"></div>
										<div class="recent-activities__item2__content__title__popover__text__star__text">
											<p>امتیازات</p>
										</div>
									</div>
									<div class="recent-activities__item2__content__title__popover__text__desc">
										<span style=" max-width: 200px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">@item.MainPage_RecentActivityContent.Text</span>

									</div>
								</div>
							</div>
						</div>
						<div class="recent-activities__item2__content__image" onclick="ShowModal(this)" data-assigned-id="@item.MainPage_RecentActivityContent.Id">
							<a href="#"><img src="@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().Image" style="width:98%;margin-right:2px"></a>
						</div>
						<div class="recent-activities__item2__content__like">
							<a href="#" data-toggle="tooltip-html" title="@Html.Raw(item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().UsersName)" onclick="changeLike(this);" data-assigned-id ="@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().Id">
								<svg id="24x24_like_outline" height="24" viewBox="0 0 24 24" width="24"  data-assigned-id="@item.MainPage_RecentActivityContent.Id">
									<path d="M21.164 12.236c.05.164.086.334.086.514 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723A1.75 1.75 0 0 1 18 19H7v-9h1c.37 0 1.257-2.37 2.104-3.345.89-1.017 1.234-1.782 1.457-2.513C11.785 3.412 12 2 12 2s2.388.11 2.388 2.9c0 1.39-.758 3.1-.388 4.1h6.25c.966 0 1.75.784 1.75 1.75 0 .63-.336 1.178-.836 1.486zM20.25 10h-6.946l-.242-.653c-.316-.855-.11-1.862.09-2.835.117-.56.236-1.14.236-1.61 0-.844-.283-1.314-.608-1.577-.076.387-.168.797-.262 1.107-.228.748-.604 1.673-1.66 2.88-.336.386-.744 1.166-1.072 1.794C9.146 10.326 8.796 11 8 11v7h10a.75.75 0 0 0 .75-.75.75.75 0 0 0-.07-.308l-.385-.843.812-.45A.74.74 0 0 0 19.5 15a.75.75 0 0 0-.07-.308l-.385-.843.812-.45a.74.74 0 0 0 .393-.65.793.793 0 0 0-.04-.22l-.23-.74.66-.406A.746.746 0 0 0 20.25 10zM2 10h4v10H2V10z"></path>
								</svg>
								<div>

								@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().LikeCount
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		}
		else
		{
			<div class="recent-activities__col">
				<div class="recent-activities__item">
					<div class="recent-activities__item__title">
						<div class="recent-activities__item__title__image">
							<a href="#"><img src="@item.MainPage_RecentActivityCreator.Image"></a>
						</div>
						<div class="recent-activities__item__title__text">
							<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.BusinessId">@item.MainPage_RecentActivityCreator.Name</a>
							<span>@item.MainPage_RecentActivityUserMediaBusinesses.Count عکس اضافه کرد</span>
						</div>
					</div>
					<div class="recent-activities__item1__content">
						<div class="recent-activities__item1__content__title1">
							<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.BusinessId"> <span>@item.MainPage_RecentActivityContent.Name</span></a>
							<div class="recent-activities__item1__content__title1__popover">
								<div class="recent-activities__item2__content__title__popover__image">
									<a href="#"><img src="@item.MainPage_RecentActivityContent.Image"></a>
								</div>
								<div class="recent-activities__item1__content__title1__popover__text">
									<div class="recent-activities__item1__content__title1__popover__text__title">
										<a href="/BusinessHome/Index?Id=@item.MainPage_RecentActivityContent.BusinessId">@item.MainPage_RecentActivityContent.Name</a>
									</div>

									<div class="recent-activities__item1__content__title1__popover__text__star">
										<div class="recent-activities__item1__content__title1__popover__text__star__icon" data-star="@item.MainPage_RecentActivityContent.Rate"></div>
										<div class="recent-activities__item1__content__title1__popover__text__star__text">
											<p>امتیازات</p>
										</div>
									</div>
									<div class="recent-activities__item1__content__title1__popover__text__desc">
										<span style=" max-width: 200px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">@item.MainPage_RecentActivityContent.Text</span>
									</div>
								</div>
							</div>
						</div>


					</div>
					<div class="recent-activities__item__image">
						<div class="recent-activities__item__image__item recent-activities__item__image__item--big">
							<div class="recent-activities__item__image__item__img" >
								<a href="#"><img src="@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().Image"></a>
							</div>
							<div class="recent-activities__item__image__item__like">
								<a href="#" data-toggle="tooltip-html" title="@Html.Raw(item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().UsersName)" onclick="changeLike(this);" data-assigned-id ="@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().Id">
									<svg id="24x24_like_outline" height="24" viewBox="0 0 24 24" width="24">
										<path d="M21.164 12.236c.05.164.086.334.086.514 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723A1.75 1.75 0 0 1 18 19H7v-9h1c.37 0 1.257-2.37 2.104-3.345.89-1.017 1.234-1.782 1.457-2.513C11.785 3.412 12 2 12 2s2.388.11 2.388 2.9c0 1.39-.758 3.1-.388 4.1h6.25c.966 0 1.75.784 1.75 1.75 0 .63-.336 1.178-.836 1.486zM20.25 10h-6.946l-.242-.653c-.316-.855-.11-1.862.09-2.835.117-.56.236-1.14.236-1.61 0-.844-.283-1.314-.608-1.577-.076.387-.168.797-.262 1.107-.228.748-.604 1.673-1.66 2.88-.336.386-.744 1.166-1.072 1.794C9.146 10.326 8.796 11 8 11v7h10a.75.75 0 0 0 .75-.75.75.75 0 0 0-.07-.308l-.385-.843.812-.45A.74.74 0 0 0 19.5 15a.75.75 0 0 0-.07-.308l-.385-.843.812-.45a.74.74 0 0 0 .393-.65.793.793 0 0 0-.04-.22l-.23-.74.66-.406A.746.746 0 0 0 20.25 10zM2 10h4v10H2V10z"></path>
									</svg>
									<div>

									@item.MainPage_RecentActivityUserMediaBusinesses.FirstOrDefault().LikeCount
									</div>
								</a>
							</div>
						</div>
						@foreach (var item2 in item.MainPage_RecentActivityUserMediaBusinesses.Skip(1).ToList())
						{
							<div class="recent-activities__item__image__item">
								<div class="recent-activities__item__image__item__img" onclick="ShowModal(this)" data-assigned-id="@item.MainPage_RecentActivityContent.Id">
									<a href="#"><img src="@item2.Image"></a>
								</div>
								<div class="recent-activities__item__image__item__like">
									<a href="#" data-toggle="tooltip-html"  title="@Html.Raw(item2.UsersName)"
									   onclick="changeLike(this);" data-assigned-id ="@item2.Id">
										<svg id="24x24_like_outline" height="24" viewBox="0 0 24 24" width="24">
											<path d="M21.164 12.236c.05.164.086.334.086.514 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723 0 .66-.37 1.23-.91 1.527.1.22.16.464.16.723A1.75 1.75 0 0 1 18 19H7v-9h1c.37 0 1.257-2.37 2.104-3.345.89-1.017 1.234-1.782 1.457-2.513C11.785 3.412 12 2 12 2s2.388.11 2.388 2.9c0 1.39-.758 3.1-.388 4.1h6.25c.966 0 1.75.784 1.75 1.75 0 .63-.336 1.178-.836 1.486zM20.25 10h-6.946l-.242-.653c-.316-.855-.11-1.862.09-2.835.117-.56.236-1.14.236-1.61 0-.844-.283-1.314-.608-1.577-.076.387-.168.797-.262 1.107-.228.748-.604 1.673-1.66 2.88-.336.386-.744 1.166-1.072 1.794C9.146 10.326 8.796 11 8 11v7h10a.75.75 0 0 0 .75-.75.75.75 0 0 0-.07-.308l-.385-.843.812-.45A.74.74 0 0 0 19.5 15a.75.75 0 0 0-.07-.308l-.385-.843.812-.45a.74.74 0 0 0 .393-.65.793.793 0 0 0-.04-.22l-.23-.74.66-.406A.746.746 0 0 0 20.25 10zM2 10h4v10H2V10z"></path>
										</svg>
										<div>

										@item2.LikeCount
										</div>
									</a>
								</div>
							</div>
						}
					</div>
					<div class="recent-activities__item__show-all">
						<a href="#">نمایش دیگر عکس ها</a>
					</div>
				</div>
			</div>
		}
	}
}

@await Html.PartialAsync("/Views/Home/Partials/ModalRecentActivity_Partial.cshtml")
