@model BizApp.Models.Basic.MainPage_SliderViewModel

	<header class="main-header">
		<div class="main-header__background">
			@*<img src="@Model.Image">*@
			<img src="~/Designs/MainWebSite/assets/img/backgrund.jpg">
		
		</div>
		<div class="container">
			<div class="main-header__nav">
				<div class="main-header__nav__right">
					<ul>
						<li><a href="#">نوشتن نظر</a></li>
						<li><a href="#">مناسبت ها</a></li>
						<li><a href="#">تماس با ما</a></li>
					</ul>
				</div>
				<div class="main-header__nav__left">
					<ul>
						<li><a href="#">ورود به سیستم</a></li>
						<li class="colored"><a href="#">ثبت نام کنید</a></li>
					</ul>
				</div>
			</div>
			<div class="main-header__logo">
				<img src="~/Designs/MainWebSite/assets/img/logo.png">
			</div>
			<div class="main-header__search">
				<div class="main-header__search__right" >
					<label>جستجو</label>
					<input type="text" name="idTxtCategorySearch" id="idTxtCategorySearch" oninput="AutoComplete(this.value)" placeholder="همبرگر ، آرایشگر ، اسپا ، لوله کش ...">
					<div class="main-header__search__right__menu-bottom" >
						<ul id="cmbSearchCategoryAlternative" style="display:none">

						</ul>
							<ul id="cmbSearchCategoryPrimary">
								@foreach (var item in Model.MainPage_Category)
								{
									<li>
										<a href="#">
											@{
												<svg id="iconResult" class="svg-inline--fa fa-accusoft fa-w-20" aria-hidden="true" data-prefix="fab" data-icon="accusoft" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="@item.Image"></path></svg>

											}
											@item.Name
										</a>
									</li>
								}
							</ul>
					</div>
				</div>
				<div class="main-header__search__left">
					<label>جنب</label>
					<input type="text" name="" placeholder="بازار کنزینگتون ، تورنتو ، ON">
					<div class="main-header__search__left__menu-bottom">
						<ul>
							<li><a href="#"><svg id="24x24_marker" height="24" viewBox="0 0 24 24" width="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 2.61 1.43 4.88 3.54 6.08L12 22l3.46-6.92A6.987 6.987 0 0 0 19 9c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path></svg>لوکیشین</a></li>
							<li><a href="#"><svg id="24x24_marker" height="24" viewBox="0 0 24 24" width="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 2.61 1.43 4.88 3.54 6.08L12 22l3.46-6.92A6.987 6.987 0 0 0 19 9c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path></svg>لوکیشین</a></li>

						</ul>
					</div>
				</div>
				<div class="main-header__search__button">
					<button class="submit" title="search">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="icon_svg">
							<path d="M21.853 20.355l-3.444-3.443a9.428 9.428 0 10-16.761-6.171 9.428 9.428 0 0015.348 7.586l3.443 3.442a1 1 0 101.414-1.414zM5.82 16.245a7.429 7.429 0 115.253 2.175 7.38 7.38 0 01-5.253-2.176z"></path>
						</svg>
					</button>
				</div>
			</div>
			<div class="main-header__menu-bottom">
				<ul>
					@*<li>
			<a href="#">
				<svg id="18x18_food" height="18" viewBox="0 0 18 18" width="18">
					<path d="M13.188 17a1.56 1.56 0 0 1-1.55-1.55V9.62h1.426c-1.255-.96-1.993-2.805-1.92-4.724 0-1.18.517-2.362 1.477-3.543a.912.912 0 0 1 1.038-.295c.37.147.59.516.59.885V9.62h.494v5.83c0 .886-.664 1.55-1.55 1.55zM5.993 8.438v1.108h.996v5.83c0 .83-.59 1.46-1.396 1.535a.5.5 0 0 1-.122.02l-.016-.002-.02.002c-.888 0-1.55-.665-1.55-1.55V9.55h.994V8.44C4 8.217 3.263 7.33 3.263 6.224v-4.28c0-.296.295-.59.59-.59s.517.294.517.59V5.56h.59V1.943c0-.295.22-.59.513-.59.295 0 .517.295.517.59V5.56h.59V1.943c0-.295.22-.59.518-.59.294 0 .515.295.515.59v4.355c0 1.033-.664 1.92-1.623 2.14z"></path>
				</svg>رستوران ها
			</a>
		</li>*@
					@*<li>
			<a href="#">
				<svg id="18x18_home_services" height="18" viewBox="0 0 18 18" width="18">
					<path d="M16.7 16H13v-4.7a.3.3 0 0 0-.3-.3h-2.4a.3.3 0 0 0-.3.3V16H2.3a.3.3 0 0 1-.3-.3V9.25l6-2.182V3.735a.3.3 0 0 1 .434-.268l8.4 4.2a.3.3 0 0 1 .166.268V15.7a.3.3 0 0 1-.3.3zM8 11.3a.3.3 0 0 0-.3-.3H4.3a.3.3 0 0 0-.3.3v2.4a.3.3 0 0 0 .3.3h3.4a.3.3 0 0 0 .3-.3v-2.4zm4-9a.3.3 0 0 1 .3-.3h3.4a.3.3 0 0 1 .3.3v3.005L12 3.5V2.3zM1 7.17l6-2.354V6.37L1 8.72V7.17z"></path>
				</svg>ندگی شبانه
			</a>
		</li>*@
					@foreach (var item in Model.MainPage_Category)
					{
						<li>
							<a href="#" style="color:black">
								@*<svg id="24x24_plumbers" height="24" viewBox="0 0 24 24" width="24">
			<path d="@item.Image"></path>
		</svg>*@
								<svg id="iconResult" class="svg-inline--fa fa-accusoft fa-w-20" aria-hidden="true" data-prefix="fab" data-icon="accusoft" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="@item.Image"></path></svg>
								@item.Name <svg id="14x14_triangle_down" height="14" viewBox="0 0 14 14" width="14">
									<path d="M7 9L3.5 5h7L7 9z"></path>
								</svg>

							</a>
							@if (item.CategoryChilds.Count > 0)
							{
							<ul>
								
								@foreach (var item2 in item.CategoryChilds)
								{

									<li><a href="#">@item2.Value</a></li>
								}
								
							</ul>
							}
						</li>
					}

					@*<li>
			<a href="#">
				<svg id="18x18_delivery" height="18" viewBox="0 0 18 18" width="18">
					<path d="M15.5 10c-1.93 0-3.5 1.57-3.5 3.5v.5H5.95a2.504 2.504 0 0 1-2.45 2 2.502 2.502 0 0 1-2.45-2H0v-2a5 5 0 0 1 5-5h3v2H7a1.5 1.5 0 0 0 0 3h2l2-4V5h1.94l-1-2H9V2h3.56l3.52 7.04c.653.085 1.28.308 1.838.665l-.537.842A3.502 3.502 0 0 0 15.5 10zM2.092 14c.207.58.757 1 1.408 1 .65 0 1.2-.42 1.408-1H2.092zM15.5 11c1.38 0 2.5 1.122 2.5 2.5S16.88 16 15.5 16 13 14.878 13 13.5s1.12-2.5 2.5-2.5zm0 4c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5-1.5.673-1.5 1.5.673 1.5 1.5 1.5z"></path>
				</svg>تحویل
			</a>
		</li>*@
				</ul>
			</div>
			<div class="main-header__text">
				<a href="#" style="color:black">@Model.Title</a>
			</div>
		</div>

	</header>

