@model BizApp.Utility.PaginatedList<BizApp.Areas.Admin.Models.BusinessListViewModel>

@{
	ViewData["Title"] = "Index";
}


<section class="content-header">
	<h1 style="float:right">
		مدیریت کسب و کارها
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> خانه</a></li>
		<li class="active">کسب و کارها</li>
	</ol>
</section>

<div style="margin-top: 50px;margin-bottom:3px">
	<a href="/admin/businesses/create" class="btn btn-success">ثبت جدید</a>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="text-center" style="border-style: solid;border-color:dimgray">
			<h2 style="font-size:medium">جستجو</h2>
		</div>
		@using (Html.BeginForm("Index", "Businesses", FormMethod.Post))
		{
			<div class="box zmdi-border-color" style="height:auto">
				<div class="box-body table-responsive no-padding row ">
					<div style="width:90%;margin-right:40px;margin-top:10px">
						<div class="row">
							<label for="searchString">عنوان جستجو:</label>
							<input name="searchString" placeholder="متن را وارد کنید" class="" style="width:260px">
						</div>
					</div>
				</div>
				<div style="margin-top:20px" dir="rtl">
					<button style="margin-right:20px;" type="submit" class="btn btn-primary">جستجو یا بارگزاری مجدد</button>
				</div>
			</div>
		}
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover text-center">
					<tr>
						<th>
							ردیف
						</th>
						<th>
							نام
						</th>
						<th>
							استان
						</th>
						<th>
							منطقه
						</th>
						<th>
							دسته
						</th>
						<th>
							عملیات
						</th>
					</tr>
					@{ int rowNo = 0; }
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@(++rowNo)
							</td>
							<td>
								@item.Name
							</td>
							<td>
								@item.CityName
							</td>
							<td>
								@item.DistrictName
							</td>
							<td>
								@item.CategoryName
							</td>
							<td>
								<a type="button" class="btn btn-dark" href="/admin/Businesses/BusinessFeature?Id=@item.Id">تخصیص ویژگی های کسب و کار</a> |
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.Id">تخصیص ویژگی دسته بندی</button> |
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.Id">حذف</button>

								@*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.Id"> ویرایش</button>*@
							</td>
						</tr>
					}
				</table>
			</div>
		</div>

		@{
			var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.HasNextPage ? "disabled" : "";
		}

		<a asp-action="Index"
		   asp-route-pageNumber="@(Model.PageIndex - 1)"
		   class="btn btn-default @prevDisabled">
			صفحه قبل
		</a>
		<a asp-action="Index"
		   asp-route-pageNumber="@(Model.PageIndex + 1)"
		   class="btn btn-default @nextDisabled">
			صفحه بعد
		</a>

	</div>
</div>
<input id="BusinessId" name="BusinessId"/>
<div id="Error"></div>
<div id="Success"></div>
<div id="Question"></div>
<script>
	window.onload = Load;
	function Load() {
		CreateAllModals();
		$(".openmodal").click(function () {
			clear('register', ["input"]);
		});
		$(".btn-warning").click(function () {
			EditAjax("/admin/Province/GetById", this.id);
			var bodyStyle = document.body.style;
			bodyStyle.removeProperty('padding-right');
		});
	}
	function Save() {
		if (checkvalidity('register') === 0) {
			return;
		}
		else {
			$("#myModal").modal('toggle');
			var Parameters = [{ id: "Name", htmlname: "Name", special: "" }, { id: "Id", htmlname: "Id", special: "" }];
			PostAjax('/admin/Province/CreateOrUpdate', Parameters, "/admin/Province/Index");
		}
	}
	function AssignButtonClicked(elem) {
		$('#BusinessId').val($(elem).data('assigned-id'));
	}
	function Remove() {
		var Parameters = [{ id: "BusinessId", htmlname: "BusinessId", special: "" }];
		PostAjax('/admin/Businesses/Remove', Parameters, "/admin/Businesses/Index");
	}


</script>

